In [2]:
import math
import numpy as np
import pandas as pd

In [22]:
crashes = pd.read_csv('C:/Users/al797/Desktop/Crashes.csv') C:\Users\al797\Documents\GitHub\LDS-project-24-25\CSV

In [10]:
merged = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/merged.csv')

In [80]:
crash = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/Crashes_filled.csv')

In [18]:
date = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/Crash_date.csv')

In [61]:
people = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/People_filled.csv')

In [82]:
veh = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/Vehicles_filled.csv')

In [19]:
damage = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/damage.csv')

In [39]:
person = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/Person.csv')

In [66]:
damage = pd.read_csv('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/Damage.csv')

In [22]:
crashes = pd.read_csv('C:/Users/al797/Desktop/Crashes.csv')

In [29]:
person[person.duplicated()]

Empty DataFrame
Columns: [PERSON_ID, PERSON_TYPE, SEX, AGE, SAFETY_EQUIPMENT, INJURY_CLASSIFICATION, DAMAGE_CATEGORY, CITY, STATE]
Index: []

In [31]:
pp = person[['PERSON_ID', 'PERSON_TYPE', 'SEX', 'AGE', 'SAFETY_EQUIPMENT', 'INJURY_CLASSIFICATION', 'CITY', 'STATE']]

In [34]:
# Filtrare le righe con person_id duplicati
duplicated_person_ids = person[person['PERSON_ID'].duplicated(keep=False)]
duplicated_person_ids

Empty DataFrame
Columns: [PERSON_ID, PERSON_TYPE, SEX, AGE, SAFETY_EQUIPMENT, INJURY_CLASSIFICATION, DAMAGE_CATEGORY, CITY, STATE]
Index: []

In [65]:
aaa = merged[merged['PERSON_ID'] == 'O519009']
aaa[['PERSON_ID', 'DAMAGE', 'RD_NO', 'CRASH_UNIT_ID', 'VEHICLE_ID', 'PERSON_TYPE', 'VEHICLE_TYPE']]

,PERSON_ID,DAMAGE,RD_NO,CRASH_UNIT_ID,VEHICLE_ID,PERSON_TYPE,VEHICLE_TYPE
41357,O519009,3533.50,JB510484,519006,495751.0,PEDESTRIAN,PASSENGER
41358,O519009,6639.49,JB510484,519006,495751.0,PEDESTRIAN,PASSENGER
41359,O519009,4176.56,JB510484,519006,495751.0,PEDESTRIAN,PASSENGER
41360,O519009,3652.49,JB510484,519006,495751.0,PEDESTRIAN,PASSENGER

In [55]:
veh[veh['CRASH_UNIT_ID'] == 519006]

,CRASH_UNIT_ID,VEHICLE_ID,UNIT_TYPE,UNIT_NO,MAKE,MODEL,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_USE,OCCUPANT_CNT,VEHICLE_TYPE
18787,519006,495751.0,PARKED,2,VOLKSWAGEN,CC,2011.0,UNKNOWN,PERSONAL,1.0,PASSENGER

In [86]:
ax = merged['PERSON_ID'].duplicated().sum()

ax

324

merged

In [74]:
import pandas as pd

def find_duplicates(file):
    # Carica il file CSV in un DataFrame
    df = pd.read_csv(file, encoding='utf-8')
    
    # Identifica le righe duplicate basandoti su PERSON_ID e CRASH_UNIT_ID
    duplicate_rows = df[df.duplicated(subset=['PERSON_ID', 'CRASH_UNIT_ID'], keep=False)]
    
    return duplicate_rows  # Restituisci le righe duplicate come DataFrame

# Esempio di utilizzo
duplicates_df = find_duplicates('C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/merged.csv')

# Stampa il DataFrame con i duplicati (opzionale)
duplicates_df

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
1649,O559393,PEDESTRIAN,JC108902,-1.0,01/08/2019 08:30:00 AM,CHICAGO,IL,U,11.0,NONE PRESENT,...,0.0,0.0,1.0,0.0,8,3,1,41.902443,-87.733804,POINT (-87.733804488942 41.902443298335)
1650,O559393,PEDESTRIAN,JC108902,-1.0,01/08/2019 08:30:00 AM,CHICAGO,IL,U,11.0,NONE PRESENT,...,0.0,0.0,1.0,0.0,8,3,1,41.902443,-87.733804,POINT (-87.733804488942 41.902443298335)
1651,O559394,PEDESTRIAN,JC108902,-1.0,01/08/2019 08:30:00 AM,CHICAGO,IL,F,36.0,NONE PRESENT,...,0.0,0.0,1.0,0.0,8,3,1,41.902443,-87.733804,POINT (-87.733804488942 41.902443298335)
1652,O559394,PEDESTRIAN,JC108902,-1.0,01/08/2019 08:30:00 AM,CHICAGO,IL,F,36.0,NONE PRESENT,...,0.0,0.0,1.0,0.0,8,3,1,41.902443,-87.733804,POINT (-87.733804488942 41.902443298335)
1965,O558992,PEDESTRIAN,JC108139,-1.0,01/07/2019 03:15:00 PM,CHICAGO,IL,F,10.0,NONE PRESENT,...,2.0,0.0,2.0,0.0,15,2,1,41.876536,-87.700937,POINT (-87.70093654529 41.876536372323)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546976,O17742,BICYCLE,HY535803,-1.0,12/12/2015 03:30:00 AM,CHICAGO,IL,M,25.0,HELMET USED,...,1.0,0.0,2.0,0.0,3,7,12,41.909007,-87.707131,POINT (-87.707131106927 41.909007393188)
562113,O2353,PEDESTRIAN,HY427241,-1.0,09/17/2015 04:26:00 PM,EVERGREEN PARK,IL,F,8.0,USAGE UNKNOWN,...,1.0,0.0,1.0,0.0,16,5,9,41.766191,-87.564770,POINT (-87.564770304214 41.766191214981)
562114,O2353,PEDESTRIAN,HY427241,-1.0,09/17/2015 04:26:00 PM,EVERGREEN PARK,IL,F,8.0,USAGE UNKNOWN,...,1.0,0.0,1.0,0.0,16,5,9,41.766191,-87.564770,POINT (-87.564770304214 41.766191214981)
562115,O2369,PEDESTRIAN,HY427241,-1.0,09/17/2015 04:26:00 PM,EVERGREEN PARK,IL,F,10.0,NONE PRESENT,...,1.0,0.0,1.0,0.0,16,5,9,41.766191,-87.564770,POINT (-87.564770304214 41.766191214981)
562116,O2369,PEDESTRIAN,HY427241,-1.0,09/17/2015 04:26:00 PM,EVERGREEN PARK,IL,F,10.0,NONE PRESENT,...,1.0,0.0,1.0,0.0,16,5,9,41.766191,-87.564770,POINT (-87.564770304214 41.766191214981)

In [76]:
print(crash.duplicated('LOCATION').sum())
print(person.duplicated('PRIM_CONTRIBUTORY_CAUSE').sum())
print(veh.duplicated('RD_NO').sum())

KeyError: Index(['LOCATION'], dtype='object')

In [75]:
import pandas as pd

# Carica il dataset
file_path = 'C:/Users/al797/Documenti/GitHub/LDS-Project-24-25/CSV/merged.csv'
df = pd.read_csv(file_path, encoding='utf-8')

# Trova duplicati basati su colonne chiave
duplicate_columns = ['PERSON_ID', 'RD_NO', 'CRASH_DATE', 'LATITUDE', 'LONGITUDE']
duplicates_df = df[df.duplicated(subset=duplicate_columns, keep=False)]

# Stampa i risultati
print(f"Righe duplicate trovate: {len(duplicates_df)}")
print(duplicates_df)

# Se vuoi, salva i duplicati in un file CSV
output_path = 'duplicati_output.csv'
duplicates_df.to_csv(output_path, index=False)
print(f"File duplicati salvato in: {output_path}")

Righe duplicate trovate: 599
       PERSON_ID PERSON_TYPE     RD_NO  VEHICLE_ID              CRASH_DATE  \
1649     O559393  PEDESTRIAN  JC108902        -1.0  01/08/2019 08:30:00 AM
1650     O559393  PEDESTRIAN  JC108902        -1.0  01/08/2019 08:30:00 AM
1651     O559394  PEDESTRIAN  JC108902        -1.0  01/08/2019 08:30:00 AM
1652     O559394  PEDESTRIAN  JC108902        -1.0  01/08/2019 08:30:00 AM
1965     O558992  PEDESTRIAN  JC108139        -1.0  01/07/2019 03:15:00 PM
...          ...         ...       ...         ...                     ...
546976    O17742     BICYCLE  HY535803        -1.0  12/12/2015 03:30:00 AM
562113     O2353  PEDESTRIAN  HY427241        -1.0  09/17/2015 04:26:00 PM
562114     O2353  PEDESTRIAN  HY427241        -1.0  09/17/2015 04:26:00 PM
562115     O2369  PEDESTRIAN  HY427241        -1.0  09/17/2015 04:26:00 PM
562116     O2369  PEDESTRIAN  HY427241        -1.0  09/17/2015 04:26:00 PM

                  CITY STATE SEX   AGE SAFETY_EQUIPMENT  ...  \
1649           CHICAGO    IL   U  11.0     NONE PRESENT  ...
1650           CHICAGO    IL   U  11.0     NONE PRESENT  ...
1651           CHICAGO    IL   F  36.0     NONE PRESENT  ...
1652           CHICAGO    IL   F  36.0     NONE PRESENT  ...
1965           CHICAGO    IL   F  10.0     NONE PRESENT  ...
...                ...   ...  ..   ...              ...  ...
546976         CHICAGO    IL   M  25.0      HELMET USED  ...
562113  EVERGREEN PARK    IL   F   8.0    USAGE UNKNOWN  ...
562114  EVERGREEN PARK    IL   F   8.0    USAGE UNKNOWN  ...
562115  EVERGREEN PARK    IL   F  10.0     NONE PRESENT  ...
562116  EVERGREEN PARK    IL   F  10.0     NONE PRESENT  ...

       INJURIES_NON_INCAPACITATING INJURIES_REPORTED_NOT_EVIDENT  \
1649                           0.0                           0.0
1650                           0.0                           0.0
1651                           0.0                           0.0
1652                           0.0                           0.0
1965                           2.0                           0.0
...                            ...                           ...
546976                         1.0                           0.0
562113                         1.0                           0.0
562114                         1.0                           0.0
562115                         1.0                           0.0
562116                         1.0                           0.0

       INJURIES_NO_INDICATION INJURIES_UNKNOWN CRASH_HOUR CRASH_DAY_OF_WEEK  \
1649                      1.0              0.0          8                 3
1650                      1.0              0.0          8                 3
1651                      1.0              0.0          8                 3
1652                      1.0              0.0          8                 3
1965                      2.0              0.0         15                 2
...                       ...              ...        ...               ...
546976                    2.0              0.0          3                 7
562113                    1.0              0.0         16                 5
562114                    1.0              0.0         16                 5
562115                    1.0              0.0         16                 5
562116                    1.0              0.0         16                 5

       CRASH_MONTH   LATITUDE  LONGITUDE  \
1649             1  41.902443 -87.733804
1650             1  41.902443 -87.733804
1651             1  41.902443 -87.733804
1652             1  41.902443 -87.733804
1965             1  41.876536 -87.700937
...            ...        ...        ...
546976          12  41.909007 -87.707131
562113           9  41.766191 -87.564770
562114           9  41.766191 -87.564770
562115           9  41.766191 -87.564770
562116           9  41.766191 -87.564770

                                        LOCATION
1649    POINT (-87.733804488942 41.902443298335)
1650    POINT (-87.733804488942 41.902443298335)
1651    POINT (-87.733804488942 41.902443298335)
1652    POINT (-87.733804488942 41.902443298335)
1965     POINT (-87.70093654529 41.876536372323)
...                                          ...
546976  POINT (-87.707131106927 41.909007393188)
562113  POINT (-87.564770304214 41.766191214981)
562114  POINT (-87.564770304214 41.766191214981)
562115  POINT (-87.564770304214 41.766191214981)
562116  POINT (-87.564770304214 41.766191214981)

[599 rows x 67 columns]
File duplicati salvato in: duplicati_output.csv

In [3]:
people = pd.read_csv('C:/Users/al797/Desktop/People.csv')

In [4]:
vehicles = pd.read_csv('C:/Users/al797/Desktop/Vehicles.csv')

In [23]:
crashes[crashes['RD_NO'] == 'JB289954']

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
72486,JB289954,06/01/2018 06:00:00 AM,30,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,REAR END,UNKNOWN,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,6,6,6,NaN,NaN,NaN

In [24]:
crashes['CRASH_DATE'].value_counts()

CRASH_DATE
11/10/2017 10:30:00 AM    27
11/10/2017 10:00:00 AM    20
09/04/2018 08:00:00 AM    16
01/25/2018 08:00:00 AM    15
10/10/2018 03:30:00 PM    15
                          ..
02/15/2018 04:32:00 PM     1
02/15/2018 04:40:00 PM     1
02/15/2018 04:50:00 PM     1
02/15/2018 05:03:00 PM     1
01/18/2014 06:14:00 PM     1
Name: count, Length: 166465, dtype: int64

In [16]:
crashes.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [5]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257925 entries, 0 to 257924
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   RD_NO                          257925 non-null  object
 1   CRASH_DATE                     257925 non-null  object
 2   POSTED_SPEED_LIMIT             257925 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE         257925 non-null  object
 4   DEVICE_CONDITION               257925 non-null  object
 5   WEATHER_CONDITION              257925 non-null  object
 6   LIGHTING_CONDITION             257925 non-null  object
 7   FIRST_CRASH_TYPE               257925 non-null  object
 8   TRAFFICWAY_TYPE                257925 non-null  object
 9   ALIGNMENT                      257925 non-null  object
 10  ROADWAY_SURFACE_COND           257925 non-null  object
 11  ROAD_DEFECT                    257925 non-null  object
 12  REPORT_TYPE                    252929 non-null  object
 13  CRASH_TYPE                     257925 non-null  object
 14  DATE_POLICE_NOTIFIED           257925 non-null  object
 15  PRIM_CONTRIBUTORY_CAUSE        257925 non-null  object
 16  SEC_CONTRIBUTORY_CAUSE         257925 non-null  object
 17  STREET_NO                      257925 non-null  int64
 18  STREET_DIRECTION               257923 non-null  object
 19  STREET_NAME                    257924 non-null  object
 20  BEAT_OF_OCCURRENCE             257921 non-null  float64
 21  NUM_UNITS                      257925 non-null  float64
 22  MOST_SEVERE_INJURY             257918 non-null  object
 23  INJURIES_TOTAL                 257925 non-null  float64
 24  INJURIES_FATAL                 257925 non-null  float64
 25  INJURIES_INCAPACITATING        257925 non-null  float64
 26  INJURIES_NON_INCAPACITATING    257925 non-null  float64
 27  INJURIES_REPORTED_NOT_EVIDENT  257925 non-null  float64
 28  INJURIES_NO_INDICATION         257925 non-null  float64
 29  INJURIES_UNKNOWN               257925 non-null  float64
 30  CRASH_HOUR                     257925 non-null  int64
 31  CRASH_DAY_OF_WEEK              257925 non-null  int64
 32  CRASH_MONTH                    257925 non-null  int64
 33  LATITUDE                       256903 non-null  float64
 34  LONGITUDE                      256903 non-null  float64
 35  LOCATION                       256903 non-null  object
dtypes: float64(11), int64(5), object(20)
memory usage: 70.8+ MB

In [17]:
crashes['CRASH_DATE']

0         01/12/2019 12:01:00 AM
1         01/11/2019 11:36:00 PM
2         01/11/2019 11:31:00 PM
3         01/11/2019 11:22:00 PM
4         01/11/2019 11:08:00 PM
                   ...
257920    11/11/2014 08:00:00 PM
257921    08/20/2014 04:50:00 PM
257922    02/24/2014 07:45:00 PM
257923    01/21/2014 07:40:00 AM
257924    01/18/2014 06:14:00 PM
Name: CRASH_DATE, Length: 257925, dtype: object

In [9]:
cols = vehicles.columns
for col in cols:
    print(vehicles[col].value_counts())

CRASH_UNIT_ID
561555    1
180234    1
180167    1
180166    1
180165    1
         ..
368914    1
368894    1
368863    1
368862    1
481322    1
Name: count, Length: 460437, dtype: int64
RD_NO
JA522872    10
JA518406     8
JB210669     8
JB174902     8
JB571997     8
            ..
JA510569     1
JA510617     1
JA510678     1
JA510735     1
JA537431     1
Name: count, Length: 257925, dtype: int64
CRASH_DATE
11/10/2017 10:30:00 AM    51
11/10/2017 10:00:00 AM    39
04/04/2018 07:30:00 AM    29
09/04/2018 08:00:00 AM    29
06/01/2018 04:00:00 PM    28
                          ..
12/28/2016 04:35:00 PM     1
12/28/2016 03:40:00 PM     1
12/28/2016 03:14:00 PM     1
12/28/2016 03:13:00 PM     1
01/12/2019 12:01:00 AM     1
Name: count, Length: 166465, dtype: int64
UNIT_NO
1     256950
2     193611
3       8675
4        964
5        168
6         38
7         13
8          7
0          6
9          3
10         2
Name: count, dtype: int64
UNIT_TYPE
DRIVER                 444982
PEDESTRIAN               6091
PARKED                   4827
BICYCLE                  3761
NON-MOTOR VEHICLE         472
DRIVERLESS                201
NON-CONTACT VEHICLE       102
Name: count, dtype: int64
VEHICLE_ID
535742.0    1
176539.0    1
176577.0    1
176661.0    1
176658.0    1
           ..
355109.0    1
354661.0    1
354653.0    1
354740.0    1
460661.0    1
Name: count, Length: 450064, dtype: int64
MAKE
TOYOTA MOTOR COMPANY, LTD.                  51975
CHEVROLET                                   51907
UNKNOWN                                     50298
FORD                                        44814
NISSAN                                      35779
                                            ...
ALPHA                                           1
NEW MCGRATH                                     1
FRIESS TRAILER                                  1
SUPREME INDUSTRIES, INC., LOUISVILLE, TN        1
AZTEC PRODUCTS, INC., MANSFIELD, TEXAS          1
Name: count, Length: 665, dtype: int64
MODEL
UNKNOWN                                           108204
CAMRY                                              16611
NISSAN ALTIMA                                      10153
COROLLA                                             9211
CIVIC                                               8529
                                                   ...
"FIBERFAB, INC. (MINNEAPOLIS, MINN.)"                  1
WILLIAMSEN TRUCK EQUIPMENT CORP.("WILLIAMSEN")         1
WAYFARER                                               1
ROLLS-ROYCE                                            1
Saloon (Virage), Virage (Saloon)                       1
Name: count, Length: 1574, dtype: int64
LIC_PLATE_STATE
IL    369749
XX     18073
IN      7550
WI      2403
MI      1782
OH       967
TX       943
FL       926
AZ       894
IA       754
MO       679
MN       657
TN       532
CA       521
GA       410
OK       405
NY       288
PA       277
KY       256
NC       215
VA       215
NJ       182
MS       181
NB       165
CO       163
MD       151
WA       142
AL       142
AR       128
KS       123
MA       110
LA       102
ME       101
SC        81
NV        61
CT        58
OR        49
UT        44
SD        43
MT        39
ND        35
ID        32
NM        31
WV        25
DC        24
RI        22
NH        22
DE        16
WY        15
AK        14
VT         8
HI         3
Name: count, dtype: int64
VEHICLE_YEAR
2015.0    30888
2014.0    28576
2016.0    27549
2013.0    26273
2012.0    22816
          ...
2994.0        1
2203.0        1
2914.0        1
2402.0        1
1962.0        1
Name: count, Length: 131, dtype: int64
VEHICLE_DEFECT
NONE                272965
UNKNOWN             172610
OTHER                 2203
BRAKES                1506
TIRES                  209
STEERING               193
WHEELS                 108
SUSPENSION              63
FUEL SYSTEM             52
ENGINE/MOTOR            45
LIGHTS                  35
WINDOWS                 29
CARGO                   16
RESTRAINT SYSTEM        10
SIGNALS                  7
EXHAUST                  7
TRAILER COUPLING         6
Name: count, dtype: int64
VEHICLE_TYPE
PASSENGER                      281639
SPORT UTILITY VEHICLE (SUV)     57604
UNKNOWN/NA                      46246
VAN/MINI-VAN                    23953
PICKUP                          12563
TRUCK - SINGLE UNIT              9022
BUS OVER 15 PASS.                5501
OTHER                            5171
TRACTOR W/ SEMI-TRAILER          4447
BUS UP TO 15 PASS.                967
MOTORCYCLE (OVER 150CC)           828
OTHER VEHICLE WITH TRAILER        721
TRACTOR W/O SEMI-TRAILER          583
AUTOCYCLE                         502
MOTOR DRIVEN CYCLE                252
ALL-TERRAIN VEHICLE (ATV)          31
FARM EQUIPMENT                     28
SNOWMOBILE                          6
Name: count, dtype: int64
VEHICLE_USE
PERSONAL                        301373
UNKNOWN/NA                       92323
OTHER                            13897
TAXI/FOR HIRE                    11441
COMMERCIAL - SINGLE UNIT          5978
RIDESHARE SERVICE                 4029
OTHER TRANSIT                     3327
CTA                               2977
NOT IN USE                        2805
POLICE                            2522
CONSTRUCTION/MAINTENANCE          2284
COMMERCIAL - MULTI-UNIT           2128
SCHOOL BUS                        1631
TOW TRUCK                          875
MASS TRANSIT                       701
AMBULANCE                          462
STATE OWNED                        360
DRIVER EDUCATION                   318
FIRE                               317
LAWN CARE/LANDSCAPING              214
AGRICULTURE                         46
CAMPER/RV - SINGLE UNIT             29
MILITARY                            17
CAMPER/RV - TOWED/MULTI-UNIT         7
HOUSE TRAILER                        3
Name: count, dtype: int64
TRAVEL_DIRECTION
N          106758
S          103431
W           95333
E           92613
UNKNOWN     31089
SE           6063
NW           5458
SW           4738
NE           4581
Name: count, dtype: int64
MANEUVER
STRAIGHT AHEAD                        229659
SLOW/STOP IN TRAFFIC                   42293
UNKNOWN/NA                             38514
TURNING LEFT                           29076
BACKING                                23129
TURNING RIGHT                          16902
PASSING/OVERTAKING                     12757
CHANGING LANES                         11343
OTHER                                   8184
ENTERING TRAFFIC LANE FROM PARKING      6385
PARKED                                  4711
MERGING                                 3723
STARTING IN TRAFFIC                     3330
SLOW/STOP - LEFT TURN                   2761
LEAVING TRAFFIC LANE TO PARK            2757
U-TURN                                  2711
ENTER FROM DRIVE/ALLEY                  2310
AVOIDING VEHICLES/OBJECTS               2241
SKIDDING/CONTROL LOSS                   2115
SLOW/STOP - RIGHT TURN                  1744
SLOW/STOP - LOAD/UNLOAD                 1457
NEGOTIATING A CURVE                      765
DRIVING WRONG WAY                        636
PARKED IN TRAFFIC LANE                   272
TURNING ON RED                           197
DIVERGING                                 79
DRIVERLESS                                13
Name: count, dtype: int64
OCCUPANT_CNT
1.0     377168
2.0      50610
3.0      13918
4.0       5557
5.0       1840
6.0        489
7.0        193
8.0         80
9.0         43
11.0        28
10.0        22
12.0        15
13.0        14
0.0         11
15.0        10
16.0         9
14.0         8
20.0         5
26.0         5
19.0         4
17.0         4
21.0         4
28.0         3
36.0         2
30.0         2
35.0         2
33.0         2
44.0         2
39.0         2
18.0         2
25.0         1
27.0         1
29.0         1
34.0         1
41.0         1
60.0         1
24.0         1
22.0         1
37.0         1
43.0         1
Name: count, dtype: int64
FIRST_CONTACT_POINT
FRONT                98284
REAR                 70325
FRONT-RIGHT          61541
FRONT-LEFT           57494
UNKNOWN              44917
SIDE-RIGHT           30397
SIDE-LEFT            26482
REAR-LEFT            25857
REAR-RIGHT           24029
NONE                  5379
OTHER                 1962
TOTAL (ALL AREAS)     1903
UNDER CARRIAGE         829
ROOF                   650
Name: count, dtype: int64

In [50]:
crashes['REPORT_TYPE'].value_counts()

REPORT_TYPE
NOT ON SCENE (DESK REPORT)    167961
ON SCENE                       84968
Name: count, dtype: int64

In [26]:
people.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE', 'CITY',
       'STATE', 'SEX', 'AGE', 'SAFETY_EQUIPMENT', 'AIRBAG_DEPLOYED',
       'EJECTION', 'INJURY_CLASSIFICATION', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'BAC_RESULT', 'DAMAGE_CATEGORY', 'DAMAGE'],
      dtype='object')

In [30]:
ab = vehicles[vehicles['OCCUPANT_CNT'].isnull()]
ab['UNIT_TYPE']

56        PEDESTRIAN
87           BICYCLE
100       PEDESTRIAN
147       PEDESTRIAN
381       PEDESTRIAN
             ...
460042       BICYCLE
460064       BICYCLE
460088       BICYCLE
460168    PEDESTRIAN
460262    PEDESTRIAN
Name: UNIT_TYPE, Length: 10373, dtype: object

In [7]:
crashes['ROADWAY_SURFACE_COND'].value_counts()

ROADWAY_SURFACE_COND
DRY                195116
WET                 35351
UNKNOWN             17018
SNOW OR SLUSH        7893
ICE                  1785
OTHER                 626
SAND, MUD, DIRT       136
Name: count, dtype: int64

In [10]:
crashes['INJURIES_FATAL']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
257920    0.0
257921    0.0
257922    0.0
257923    0.0
257924    0.0
Name: INJURIES_FATAL, Length: 257925, dtype: float64

## CRASHES MISSING VALUES

In [36]:
filtered_vehicles = vehicles[vehicles['VEHICLE_YEAR'] > 2024]

filtered_vehicles['VEHICLE_YEAR'].unique()

array([2103., 9999., 2204., 2915., 2913., 2205., 3007., 2107., 2041.,
       2999., 2917., 2105., 2201., 2104., 2918., 2911., 2916., 2099.,
       2208., 3017., 2033., 2207., 2028., 2096., 2206., 2102., 2055.,
       2108., 3013., 5007., 3003., 2106., 2202., 2027., 2088., 2998.,
       3016., 3023., 2040., 2114., 2994., 2203., 2914., 2402., 2100.,
       2912., 2101., 2045., 5015., 2910., 2222., 2113., 2112., 2992.,
       3004., 5555., 2110., 5012., 3012., 2117., 6043.])

In [28]:
filtered_vehicles['VEHICLE_YEAR'].count





()

422

In [5]:
crashes.columns

Index(['RD_NO', 'CRASH_DATE', 'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE',
       'DEVICE_CONDITION', 'WEATHER_CONDITION', 'LIGHTING_CONDITION',
       'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'ALIGNMENT',
       'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE',
       'DATE_POLICE_NOTIFIED', 'PRIM_CONTRIBUTORY_CAUSE',
       'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO', 'STREET_DIRECTION',
       'STREET_NAME', 'BEAT_OF_OCCURRENCE', 'NUM_UNITS', 'MOST_SEVERE_INJURY',
       'INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING',
       'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT',
       'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN', 'CRASH_HOUR',
       'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'LATITUDE', 'LONGITUDE',
       'LOCATION'],
      dtype='object')

Missing values:

REPORT_TYPE                      4996 X quelli con morti o feriti gravi vanno ON SCENE (circa 500), gli altri NOS

STREET_DIRECTION                    2  X quelle due strade hanno solo una direzione quindi top

STREET_NAME                         1  X NON ABBIAMO MODO DI TROVARLO, SI ELIMINA

BEAT_OF_OCCURRENCE                  4  X moda per le righe che hanno la stessa strada

MOST_SEVERE_INJURY                  7   X tutti 0 perche non si sono fatti nulla

LATITUDE                         1022   ? usare il coso di napo

LONGITUDE                        1022   ? usare il coso di napo

LOCATION                         1022   ? di conseguenza dopo longitude e latitude

In [13]:
crashes

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC113649,01/12/2019 12:01:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,0,7,1,41.894718,-87.716439,POINT (-87.716439109795 41.894718028422)
1,JC113627,01/11/2019 11:36:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.961558,-87.757564,POINT (-87.757564024038 41.961557797444)
2,JC113637,01/11/2019 11:31:00 PM,15,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DARKNESS,SIDESWIPE OPPOSITE DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.791460,-87.715908,POINT (-87.715907858157 41.791459913725)
3,JC113630,01/11/2019 11:22:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,23,6,1,41.876779,-87.741695,POINT (-87.741694507685 41.876778736117)
4,JC113604,01/11/2019 11:08:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,23,6,1,41.960921,-87.739893,POINT (-87.739893056441 41.960920858153)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257920,HY498942,11/11/2014 08:00:00 PM,30,NO CONTROLS,NO CONTROLS,UNKNOWN,UNKNOWN,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,20,3,11,41.998270,-87.662997,POINT (-87.662996825424 41.998269693725)
257921,HZ400518,08/20/2014 04:50:00 PM,0,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,4,8,41.751143,-87.607091,POINT (-87.607090627909 41.751143217534)
257922,HZ164689,02/24/2014 07:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,19,2,2,41.884016,-87.701143,POINT (-87.701142757538 41.884016475152)
257923,HZ122950,01/21/2014 07:40:00 AM,30,YIELD,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,1.0,0.0,1.0,0.0,7,3,1,41.760710,-87.561946,POINT (-87.561946030143 41.760710194223)
257924,JB442550,01/18/2014 06:14:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DUSK,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,18,7,1,41.885610,-87.638756,POINT (-87.638756189808 41.885609917063)

In [24]:
cc= crashes[crashes['BEAT_OF_OCCURRENCE'].isnull()]
cc

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
204846,HZ562684,12/23/2016 12:30:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,12,6,12,41.780148,-87.614552,POINT (-87.614552135332 41.780148264311)
206421,HZ552745,12/15/2016 03:10:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,15,5,12,41.786811,-87.653621,POINT (-87.653621088745 41.786811402722)
216083,HZ478865,10/17/2016 09:00:00 AM,30,NO CONTROLS,NO CONTROLS,UNKNOWN,UNKNOWN,REAR END,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,9,2,10,NaN,NaN,NaN
216644,HZ472928,10/13/2016 03:40:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,15,5,10,41.994542,-87.713897,POINT (-87.713896783814 41.994542305274)

In [5]:
crashes['MOST_SEVERE_INJURY'].value_counts()

MOST_SEVERE_INJURY
NO INDICATION OF INJURY     228475
NONINCAPACITATING INJURY     15808
REPORTED, NOT EVIDENT         9703
INCAPACITATING INJURY         3723
FATAL                          209
Name: count, dtype: int64

In [67]:
# LE RIGHE CHE NON HANNO MOST SEVERE INJURY NON HANNO 0 PER TOTAL INJURY, QUINDI ANHCE I SEVERE SARANNO 0

most_sev = crashes[crashes['MOST_SEVERE_INJURY'].isnull()]
most_sev[['INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING',
          'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT']]

,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT
14205,0.0,0.0,0.0,0.0,0.0
25482,0.0,0.0,0.0,0.0,0.0
146939,0.0,0.0,0.0,0.0,0.0
160254,0.0,0.0,0.0,0.0,0.0
185417,0.0,0.0,0.0,0.0,0.0
231203,0.0,0.0,0.0,0.0,0.0
243782,0.0,0.0,0.0,0.0,0.0

Siccome gli incidenti che hanno valori nulli in 'MOST_SEVERE_INJURY' non hanno feriti, possiamo dedurre che i feriti gravi siano 0 a loro volta.

In [79]:
crashes[crashes['REPORT_TYPE'].isnull()]

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
261,JC111906,01/10/2019 04:20:00 PM,30,STOP SIGN/FLASHER,NO CONTROLS,CLEAR,DUSK,ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,5,1,41.787206,-87.629228,POINT (-87.629227934408 41.787206312718)
340,JC111380,01/10/2019 08:25:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,8,5,1,41.880805,-87.630929,POINT (-87.630929332143 41.880805278204)
358,JC111967,01/10/2019 07:00:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",PEDESTRIAN,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,1.0,1.0,0.0,7,5,1,41.895544,-87.696641,POINT (-87.696641013859 41.895543709379)
465,JC110718,01/09/2019 03:15:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PEDALCYCLIST,ONE-WAY,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,15,4,1,41.798255,-87.767411,POINT (-87.767410748126 41.798255116549)
543,JC110198,01/09/2019 09:30:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,9,4,1,42.012821,-87.670311,POINT (-87.670311474895 42.012821129153)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256278,HY437811,09/25/2015 12:05:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,FIXED OBJECT,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,12,6,9,41.943735,-87.671658,POINT (-87.671658301936 41.943735406008)
256417,HY433982,09/22/2015 04:40:00 PM,99,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,UNKNOWN,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,3,9,41.792219,-87.794082,POINT (-87.794082135983 41.792218535676)
257669,HY392560,08/21/2015 02:45:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,14,6,8,41.876664,-87.763321,POINT (-87.763321068783 41.876663779614)
257764,HY386254,08/15/2015 11:15:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,7,8,41.780521,-87.605869,POINT (-87.605869499248 41.780521024744)
257912,JB278951,05/25/2015 11:38:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",HEAD ON,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,2,5,41.877407,-87.745018,POINT (-87.745018287582 41.877406914781)

In [4]:
on_scene = crashes[crashes['REPORT_TYPE'] == 'ON SCENE']
on_scene

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC113649,01/12/2019 12:01:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,0,7,1,41.894718,-87.716439,POINT (-87.716439109795 41.894718028422)
1,JC113627,01/11/2019 11:36:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.961558,-87.757564,POINT (-87.757564024038 41.961557797444)
3,JC113630,01/11/2019 11:22:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,23,6,1,41.876779,-87.741695,POINT (-87.741694507685 41.876778736117)
5,JC113579,01/11/2019 10:45:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,22,6,1,41.747016,-87.552951,POINT (-87.552951169307 41.74701568596)
6,JC113617,01/11/2019 10:28:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,22,6,1,41.954508,-87.747188,POINT (-87.747187880166 41.954508401874)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257615,HY394718,08/23/2015 06:40:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,18,1,8,41.881910,-87.645622,POINT (-87.645622201229 41.881909795065)
257735,HY386623,08/17/2015 05:45:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,17,2,8,41.889073,-87.774044,POINT (-87.774044359125 41.889073320855)
257830,HY376806,08/10/2015 12:48:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,ONE-WAY,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,12,2,8,41.911158,-87.627513,POINT (-87.627513305658 41.911157879859)
257876,HY372735,08/05/2015 02:30:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,14,4,8,41.865723,-87.705796,POINT (-87.705795692929 41.865722525805)
257923,HZ122950,01/21/2014 07:40:00 AM,30,YIELD,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,1.0,0.0,1.0,0.0,7,3,1,41.760710,-87.561946,POINT (-87.561946030143 41.760710194223)

In [6]:
crashes['REPORT_TYPE'].value_counts()

REPORT_TYPE
NOT ON SCENE (DESK REPORT)    167961
ON SCENE                       84968
Name: count, dtype: int64

In [20]:
new_df = crashes[crashes['REPORT_TYPE'].isnull()]
new_df

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
261,JC111906,01/10/2019 04:20:00 PM,30,STOP SIGN/FLASHER,NO CONTROLS,CLEAR,DUSK,ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,5,1,41.787206,-87.629228,POINT (-87.629227934408 41.787206312718)
340,JC111380,01/10/2019 08:25:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,8,5,1,41.880805,-87.630929,POINT (-87.630929332143 41.880805278204)
358,JC111967,01/10/2019 07:00:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",PEDESTRIAN,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,1.0,1.0,0.0,7,5,1,41.895544,-87.696641,POINT (-87.696641013859 41.895543709379)
465,JC110718,01/09/2019 03:15:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PEDALCYCLIST,ONE-WAY,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,15,4,1,41.798255,-87.767411,POINT (-87.767410748126 41.798255116549)
543,JC110198,01/09/2019 09:30:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,9,4,1,42.012821,-87.670311,POINT (-87.670311474895 42.012821129153)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256278,HY437811,09/25/2015 12:05:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,FIXED OBJECT,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,12,6,9,41.943735,-87.671658,POINT (-87.671658301936 41.943735406008)
256417,HY433982,09/22/2015 04:40:00 PM,99,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,UNKNOWN,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,3,9,41.792219,-87.794082,POINT (-87.794082135983 41.792218535676)
257669,HY392560,08/21/2015 02:45:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,14,6,8,41.876664,-87.763321,POINT (-87.763321068783 41.876663779614)
257764,HY386254,08/15/2015 11:15:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,7,8,41.780521,-87.605869,POINT (-87.605869499248 41.780521024744)
257912,JB278951,05/25/2015 11:38:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",HEAD ON,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,2,5,41.877407,-87.745018,POINT (-87.745018287582 41.877406914781)

In [10]:
null_street_name = crashes[crashes['STREET_NAME'].isnull()]
null_street_name

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
226526,HZ386509,08/10/2016 02:20:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,14,4,8,NaN,NaN,NaN

In [14]:
null_street_name[['STREET_NO', 'STREET_DIRECTION', 'BEAT_OF_OCCURRENCE']]

        STREET_NO STREET_DIRECTION  BEAT_OF_OCCURRENCE
226526        532                E               624.0

In [49]:
filtered_crashes = crashes[(crashes['STREET_NO'] == 532) & 
                           (crashes['STREET_DIRECTION'] == 'E') & 
                           (crashes['BEAT_OF_OCCURRENCE'] == 624.0)]
filtered_crashes['STREET_NAME']

78186     76TH ST
222771    76TH ST
226526        NaN
Name: STREET_NAME, dtype: object

Street direction

In [24]:
null_street_dir = crashes[crashes['STREET_DIRECTION'].isnull()]
null_street_dir['STREET_NAME']

180006           DOTY AVE W
216083    BESSIE COLEMAN DR
Name: STREET_NAME, dtype: object

In [7]:
dotyave = crashes[crashes['STREET_NAME'] == 'DOTY AVE W']
dotyave['STREET_DIRECTION'].value_counts()

STREET_DIRECTION
S    91
Name: count, dtype: int64

In [8]:
dotyave = crashes[crashes['STREET_NAME'] == 'BESSIE COLEMAN DR']
dotyave['STREET_DIRECTION'].value_counts()

STREET_DIRECTION
N    32
Name: count, dtype: int64

riga 180006 STREET_NAME DOTY AVE W - STREET_DIRECTION S

riga 216083 STREET_NAME BESSIE COLEMAN DR - STREET_DIRECTION N

In [35]:
null_beat_occ = crashes[crashes['BEAT_OF_OCCURRENCE'].isnull()]
null_beat_occ[['STREET_NAME', 'STREET_DIRECTION', 'STREET_NO', 'LOCATION', 'BEAT_OF_OCCURRENCE']]

,STREET_NAME,STREET_DIRECTION,STREET_NO,LOCATION,BEAT_OF_OCCURRENCE
204846,63RD ST,E,425,POINT (-87.614552135332 41.780148264311),NaN
206421,MAY ST,S,5900,POINT (-87.653621088745 41.786811402722),NaN
216083,BESSIE COLEMAN DR,NaN,10000,NaN,NaN
216644,LINCOLN AVE,N,6199,POINT (-87.713896783814 41.994542305274),NaN

In [34]:
bess = crashes[crashes['STREET_NAME']=='BESSIE COLEMAN DR']
bess['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
1654.0    32
Name: count, dtype: int64

In [51]:
strada1 = crashes[(crashes['STREET_NAME'] == '63RD ST') &  (crashes['STREET_NO'] == 425)]
strada1 = strada1[strada1['STREET_DIRECTION'] == 'E']

strada1['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
312.0    3
Name: count, dtype: int64

In [54]:
strada2 = crashes[(crashes['STREET_NAME'] == 'MAY ST') & (crashes['STREET_NO'] == 5900)]

strada2['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
712.0    3
Name: count, dtype: int64

In [56]:
strada3 = crashes[crashes['STREET_NAME'] == 'BESSIE COLEMAN DR' ]
strada3['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
1654.0    32
Name: count, dtype: int64

In [58]:
strada4 = crashes[(crashes['STREET_NAME'] == 'LINCOLN AVE') & (crashes['STREET_NO'] == 6199)]

strada4['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
1711.0    6
Name: count, dtype: int64

In [8]:
# Inizializza un dizionario per memorizzare i risultati
street_coordinates = {}

street_names = [
    "CHICAGO SKYWAY OB",
    "CHICAGO SKYWAY IB",
    "TERMINAL ST",
    "DR MARTIN LUTHER KING JR SD",
    "OHARE ST",
    "I190 EXPY",
    "OGDEN SD",
    "KENNEDY EXPY IB",
    "PARKING LOT A ST",
    "PARKING LOT G ST",
    "PARKING LOT D ST",
    "MC FETRIDGE DR",
    "RANDOLPH SUB ST",
    "DAN RYAN LOCAL OB",
    "LA SALLE DR",
    "MANNHEIM RD",
    "LOGAN SD",
    "LA SALLE DR /ILLINOIS",
    "SOUTH WATER RAMP",
    "LAWERENCE",
    "N BELMONT AVE LSD XR",
    "MICHIGAN AVE XR",
    "KENNEDY EXPY OB",
    "87TH ST",
    "KEDVALE AVE",
    "LAKE SHORE DR NB",
    "BESSIE COLEMAN DR",
    "DAN RYAN XPRS OB",
    "SHERMAN PARK SD N",
    "ARCHER/LEAVIT",
    "DAMEN AVE VIA",
    "GARLAND CT / LAKE STREET",
    "RWY 22L",
    "MICHIGAN AVE 175 E CHESTNUT AVE",
    "LAKE LOWER ST",
    "DOTY AVE E",
    "UNION ST",
    "WACKER SUB DR",
    "87TH SD",
    "FRANKLIN SD"
]

# Itera per ciascun nome di strada
for street in street_names:
    # Filtra i dati per la strada corrente
    street_data = crashes[crashes['STREET_NAME'] == street]
    # Considera solo le righe con valori di posizione non nulli
    street_data_loc = street_data[street_data['LOCATION'].notnull()]
    
    # Calcola le medie di latitudine e longitudine
    lat_mean = street_data_loc['LATITUDE'].mean()
    lon_mean = street_data_loc['LONGITUDE'].mean()
    
    # Salva i risultati nel dizionario
    street_coordinates[street] = {'latitude': lat_mean, 'longitude': lon_mean}

# Il dizionario 'street_coordinates' contiene ora le coordinate medie per ogni strada

In [9]:
street_coordinates

{'CHICAGO SKYWAY OB': {'latitude': 41.74227883457143,
  'longitude': -87.57590929792856},
 'CHICAGO SKYWAY IB': {'latitude': 41.74227353683332,
  'longitude': -87.57654492987038},
 'TERMINAL ST': {'latitude': nan, 'longitude': nan},
 'DR MARTIN LUTHER KING JR SD': {'latitude': nan, 'longitude': nan},
 'OHARE ST': {'latitude': 41.97620113900001, 'longitude': -87.90530912500004},
 'I190 EXPY': {'latitude': nan, 'longitude': nan},
 'OGDEN SD': {'latitude': nan, 'longitude': nan},
 'KENNEDY EXPY IB': {'latitude': 41.9445149038,
  'longitude': -87.74905055459999},
 'PARKING LOT A ST': {'latitude': nan, 'longitude': nan},
 'PARKING LOT G ST': {'latitude': nan, 'longitude': nan},
 'PARKING LOT D ST': {'latitude': nan, 'longitude': nan},
 'MC FETRIDGE DR': {'latitude': 41.865043402551734,
  'longitude': -87.6173671586207},
 'RANDOLPH SUB ST': {'latitude': 41.884592989666665,
  'longitude': -87.62160521266667},
 'DAN RYAN LOCAL OB': {'latitude': nan, 'longitude': nan},
 'LA SALLE DR': {'latitude': 41.90103851500532,
  'longitude': -87.63245768456915},
 'MANNHEIM RD': {'latitude': 41.98863609599999, 'longitude': -87.8821597974},
 'LOGAN SD': {'latitude': nan, 'longitude': nan},
 'LA SALLE DR /ILLINOIS': {'latitude': nan, 'longitude': nan},
 'SOUTH WATER RAMP': {'latitude': 41.886845844999996,
  'longitude': -87.621254377},
 'LAWERENCE': {'latitude': nan, 'longitude': nan},
 'N BELMONT AVE LSD XR': {'latitude': nan, 'longitude': nan},
 'MICHIGAN AVE XR': {'latitude': nan, 'longitude': nan},
 'KENNEDY EXPY OB': {'latitude': 41.953580825, 'longitude': -87.7301759305},
 '87TH ST': {'latitude': 41.73621988185685, 'longitude': -87.6337419882137},
 'KEDVALE AVE': {'latitude': 41.87563567062, 'longitude': -87.72905901827599},
 'LAKE SHORE DR NB': {'latitude': 41.899861723909424,
  'longitude': -87.62224080009368},
 'BESSIE COLEMAN DR': {'latitude': nan, 'longitude': nan},
 'DAN RYAN XPRS OB': {'latitude': nan, 'longitude': nan},
 'SHERMAN PARK SD N': {'latitude': nan, 'longitude': nan},
 'ARCHER/LEAVIT': {'latitude': nan, 'longitude': nan},
 'DAMEN AVE VIA': {'latitude': nan, 'longitude': nan},
 'GARLAND CT / LAKE STREET': {'latitude': nan, 'longitude': nan},
 'RWY 22L': {'latitude': nan, 'longitude': nan},
 'MICHIGAN AVE 175 E CHESTNUT AVE': {'latitude': nan, 'longitude': nan},
 'LAKE LOWER ST': {'latitude': 41.885688421, 'longitude': -87.62097238825},
 'DOTY AVE E': {'latitude': 41.691178218063584,
  'longitude': -87.59287764128324},
 'UNION ST': {'latitude': nan, 'longitude': nan},
 'WACKER SUB DR': {'latitude': 41.888183762, 'longitude': -87.622614368},
 '87TH SD': {'latitude': nan, 'longitude': nan},
 'FRANKLIN SD': {'latitude': nan, 'longitude': nan}}

In [49]:
people['PERSON_ID']

0         O561555
1         O561563
2         O561564
3         O561540
4         O561541
           ...
564560     O30751
564561     O24495
564562     O24496
564563    O481321
564564    P108071
Name: PERSON_ID, Length: 564565, dtype: object

In [51]:
vehicles['CRASH_UNIT_ID']

0         561555
1         561563
2         561564
3         561540
4         561541
           ...
460432     30751
460433     24495
460434     24496
460435    481321
460436    481322
Name: CRASH_UNIT_ID, Length: 460437, dtype: int64

In [52]:
crashes

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC113649,01/12/2019 12:01:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,0,7,1,41.894718,-87.716439,POINT (-87.716439109795 41.894718028422)
1,JC113627,01/11/2019 11:36:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.961558,-87.757564,POINT (-87.757564024038 41.961557797444)
2,JC113637,01/11/2019 11:31:00 PM,15,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DARKNESS,SIDESWIPE OPPOSITE DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.791460,-87.715908,POINT (-87.715907858157 41.791459913725)
3,JC113630,01/11/2019 11:22:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,23,6,1,41.876779,-87.741695,POINT (-87.741694507685 41.876778736117)
4,JC113604,01/11/2019 11:08:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,23,6,1,41.960921,-87.739893,POINT (-87.739893056441 41.960920858153)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257920,HY498942,11/11/2014 08:00:00 PM,30,NO CONTROLS,NO CONTROLS,UNKNOWN,UNKNOWN,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,20,3,11,41.998270,-87.662997,POINT (-87.662996825424 41.998269693725)
257921,HZ400518,08/20/2014 04:50:00 PM,0,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,4,8,41.751143,-87.607091,POINT (-87.607090627909 41.751143217534)
257922,HZ164689,02/24/2014 07:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,19,2,2,41.884016,-87.701143,POINT (-87.701142757538 41.884016475152)
257923,HZ122950,01/21/2014 07:40:00 AM,30,YIELD,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,1.0,0.0,1.0,0.0,7,3,1,41.760710,-87.561946,POINT (-87.561946030143 41.760710194223)
257924,JB442550,01/18/2014 06:14:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DUSK,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,18,7,1,41.885610,-87.638756,POINT (-87.638756189808 41.885609917063)

In [55]:
aa = vehicles['CRASH_UNIT_ID'].value_counts()
aa.max()

1

In [53]:
vehicles['RD_NO'] == 'JC113649'

0          True
1         False
2         False
3         False
4         False
          ...
460432    False
460433    False
460434    False
460435    False
460436    False
Name: RD_NO, Length: 460437, dtype: bool

# PEOPLE DATASET

In [40]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564565 entries, 0 to 564564
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   PERSON_ID              564565 non-null  object
 1   PERSON_TYPE            564565 non-null  object
 2   RD_NO                  564565 non-null  object
 3   VEHICLE_ID             553869 non-null  float64
 4   CRASH_DATE             564565 non-null  object
 5   CITY                   420645 non-null  object
 6   STATE                  422589 non-null  object
 7   SEX                    557411 non-null  object
 8   AGE                    403584 non-null  float64
 9   SAFETY_EQUIPMENT       563155 non-null  object
 10  AIRBAG_DEPLOYED        554113 non-null  object
 11  EJECTION               557860 non-null  object
 12  INJURY_CLASSIFICATION  564269 non-null  object
 13  DRIVER_ACTION          454799 non-null  object
 14  DRIVER_VISION          454681 non-null  object
 15  PHYSICAL_CONDITION     455064 non-null  object
 16  BAC_RESULT             455732 non-null  object
 17  DAMAGE_CATEGORY        564565 non-null  object
 18  DAMAGE                 490256 non-null  float64
dtypes: float64(3), object(16)
memory usage: 81.8+ MB

In [47]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460437 entries, 0 to 460436
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CRASH_UNIT_ID        460437 non-null  int64
 1   RD_NO                460437 non-null  object
 2   CRASH_DATE           460437 non-null  object
 3   UNIT_NO              460437 non-null  int64
 4   UNIT_TYPE            460436 non-null  object
 5   VEHICLE_ID           450064 non-null  float64
 6   MAKE                 450064 non-null  object
 7   MODEL                448651 non-null  object
 8   LIC_PLATE_STATE      410808 non-null  object
 9   VEHICLE_YEAR         371782 non-null  float64
 10  VEHICLE_DEFECT       450064 non-null  object
 11  VEHICLE_TYPE         450064 non-null  object
 12  VEHICLE_USE          450064 non-null  object
 13  TRAVEL_DIRECTION     450064 non-null  object
 14  MANEUVER             450064 non-null  object
 15  OCCUPANT_CNT         450064 non-null  float64
 16  FIRST_CONTACT_POINT  450049 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 59.7+ MB

In [101]:
people = pd.read_csv('C:/Users/al797/Desktop/People.csv')

In [54]:
people.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE', 'CITY',
       'STATE', 'SEX', 'AGE', 'SAFETY_EQUIPMENT', 'AIRBAG_DEPLOYED',
       'EJECTION', 'INJURY_CLASSIFICATION', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'BAC_RESULT', 'DAMAGE_CATEGORY', 'DAMAGE'],
      dtype='object')

In [103]:
people.head()

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
0,O561555,DRIVER,JC113649,535742.0,01/12/2019 12:01:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",6069.089569
1,O561563,DRIVER,JC113627,535738.0,01/11/2019 11:36:00 PM,CHICAGO,IL,M,63.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",6237.638447
2,O561564,DRIVER,JC113627,535741.0,01/11/2019 11:36:00 PM,CHICAGO,IL,M,36.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,DISREGARDED CONTROL DEVICES,NOT OBSCURED,IMPAIRED - ALCOHOL,"TEST PERFORMED, RESULTS UNKNOWN","OVER $1,500",3802.304187
3,O561540,DRIVER,JC113637,535714.0,01/11/2019 11:31:00 PM,NaN,NaN,F,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,NONE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3127.680131
4,O561541,DRIVER,JC113637,535718.0,01/11/2019 11:31:00 PM,CHICAGO,IL,F,31.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",2225.886815


VEHICLE_ID                10696
CITY                     143920
STATE                    141976
SEX                        7154
AGE                      160981
SAFETY_EQUIPMENT           1410
AIRBAG_DEPLOYED           10452
EJECTION                   6705
INJURY_CLASSIFICATION       296
DRIVER_ACTION            109766
DRIVER_VISION            109884

### NO VEHICLE: PEDESTRIANS?

In [114]:
novc = people[people['VEHICLE_ID'].isnull()]
person_type_counts = novc['PERSON_TYPE'].value_counts()
person_type_counts

PERSON_TYPE
PEDESTRIAN             6352
BICYCLE                3799
NON-MOTOR VEHICLE       496
NON-CONTACT VEHICLE      43
DRIVER                    6
Name: count, dtype: int64

per i pedoni, bici e non motorizzati mettiamo 0 al vehicle id, per driver e non-contact?

#### SAFETY_EQUIPMENT , AIRBAG_DEPLOYED, EJECTION  possono essere messi a 0 per i pedoni, bici, non veichle, ma per il resto?

# Vehicles ds

In [55]:
vehicles.columns

Index(['CRASH_UNIT_ID', 'RD_NO', 'CRASH_DATE', 'UNIT_NO', 'UNIT_TYPE',
       'VEHICLE_ID', 'MAKE', 'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR',
       'VEHICLE_DEFECT', 'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION',
       'MANEUVER', 'OCCUPANT_CNT', 'FIRST_CONTACT_POINT'],
      dtype='object')

UNIT_TYPE                  1           X rimosso

VEHICLE_ID             10373

MAKE                   10373

MODEL                  11786

LIC_PLATE_STATE        49629

VEHICLE_YEAR           88655

VEHICLE_DEFECT         10373

VEHICLE_TYPE           10373

VEHICLE_USE            10373

TRAVEL_DIRECTION       10373

MANEUVER               10373

OCCUPANT_CNT           10373

FIRST_CONTACT_POINT    10388

In [127]:
lic = vehicles[vehicles['LIC_PLATE_STATE'].isnull()]
ll = lic['UNIT_TYPE'].value_counts()
ll

UNIT_TYPE
DRIVER                 39144
PEDESTRIAN              6091
BICYCLE                 3761
NON-MOTOR VEHICLE        472
PARKED                    92
NON-CONTACT VEHICLE       62
DRIVERLESS                 6
Name: count, dtype: int64

In [141]:
la = vehicles[vehicles['UNIT_TYPE'] == 'NON-CONTACT VEHICLE']
la['LIC_PLATE_STATE'].value_counts()

LIC_PLATE_STATE
IL    33
XX     6
TN     1
Name: count, dtype: int64

In [131]:
a = vehicles[vehicles['LIC_PLATE_STATE'].isnull()]
a['UNIT_TYPE'].value_counts()

UNIT_TYPE
DRIVER                 39144
PEDESTRIAN              6091
BICYCLE                 3761
NON-MOTOR VEHICLE        472
PARKED                    92
NON-CONTACT VEHICLE       62
DRIVERLESS                 6
Name: count, dtype: int64

In [152]:
chicago_sky = crashes[crashes['STREET_NAME'] =='CHICAGO SKYWAY OB']
chicago_sky_with_location = chicago_sky[chicago_sky['LOCATION'].notnull()]

lat = chicago_sky_with_location['LATITUDE'].mean()
log = chicago_sky_with_location['LONGITUDE'].mean()

lat

41.74227883457143

In [153]:
log

-87.57590929792856

In [159]:
la_salle= crashes[crashes['STREET_NAME'] =='LA SALLE DR']
la_salle_loc = la_s[la_s['LOCATION'].notnull()]

la_salle_lat = la_s_loc['LATITUDE'].mean()
la_salle_log = la_s_loc['LONGITUDE'].mean()

la_s_lat

41.90103851500532

In [160]:
la_s_log

-87.63245768456915

In [120]:
vehicles[vehicles['LIC_PLATE_STATE'].isnull()]

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
8,561513,JC113579,01/11/2019 10:45:00 PM,1,DRIVER,535691.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,SPORT UTILITY VEHICLE (SUV),UNKNOWN/NA,S,UNKNOWN/NA,1.0,UNKNOWN
12,561515,JC113568,01/11/2019 10:16:00 PM,1,DRIVER,535692.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,N,UNKNOWN/NA,1.0,UNKNOWN
15,561507,JC113569,01/11/2019 10:00:00 PM,1,DRIVER,535681.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,E,PASSING/OVERTAKING,1.0,UNKNOWN
51,561455,JC113370,01/11/2019 07:10:00 PM,1,DRIVER,535624.0,CHEVROLET,TAHOE,NaN,NaN,UNKNOWN,SPORT UTILITY VEHICLE (SUV),UNKNOWN/NA,E,STRAIGHT AHEAD,1.0,FRONT-RIGHT
55,561409,JC113366,01/11/2019 07:06:00 PM,1,DRIVER,535581.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,PASSENGER,UNKNOWN/NA,S,TURNING LEFT,1.0,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460377,8,HY368496,08/04/2015 10:00:00 AM,1,DRIVER,8.0,VOLKSWAGEN,JETTA,NaN,2008.0,NONE,PASSENGER,PERSONAL,N,CHANGING LANES,1.0,FRONT-RIGHT
460380,6,HY368370,08/04/2015 08:00:00 AM,1,DRIVER,6.0,PONTIAC,BONNEVILLE,NaN,NaN,UNKNOWN,PASSENGER,UNKNOWN/NA,N,STRAIGHT AHEAD,1.0,FRONT
460416,13287,HY507396,05/20/2015 02:24:00 PM,1,DRIVER,12750.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,UNKNOWN,UNKNOWN/NA,1.0,UNKNOWN
460417,146994,JA227271,04/16/2015 10:00:00 PM,1,DRIVER,146407.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,N,STRAIGHT AHEAD,1.0,UNKNOWN
460428,12093,HY498942,11/11/2014 08:00:00 PM,1,DRIVER,11595.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,UNKNOWN,UNKNOWN/NA,1.0,UNKNOWN

In [85]:
a = vehicles[vehicles['VEHICLE_ID'].isnull()]
a['UNIT_TYPE'].value_counts()

UNIT_TYPE
PEDESTRIAN             6091
BICYCLE                3761
NON-MOTOR VEHICLE       472
NON-CONTACT VEHICLE      42
DRIVER                    6
Name: count, dtype: int64

##### Unit type

In [83]:
unittype = vehicles['CRASH_UNIT_ID']
unittype

0         561555
1         561563
2         561564
3         561540
4         561541
           ...
460432     30751
460433     24495
460434     24496
460435    481321
460436    481322
Name: CRASH_UNIT_ID, Length: 460437, dtype: int64

In [84]:
people['PERSON_ID']

0         O561555
1         O561563
2         O561564
3         O561540
4         O561541
           ...
564560     O30751
564561     O24495
564562     O24496
564563    O481321
564564    P108071
Name: PERSON_ID, Length: 564565, dtype: object

In [78]:
vehicles['UNIT_TYPE'].value_counts()

UNIT_TYPE
DRIVER                 444982
PEDESTRIAN               6091
PARKED                   4827
BICYCLE                  3761
NON-MOTOR VEHICLE         472
DRIVERLESS                201
NON-CONTACT VEHICLE       102
Name: count, dtype: int64

In [76]:
crashes[crashes['RD_NO']=='JB374571']

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
51567,JB374571,08/01/2018 02:59:00 PM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDALCYCLIST,NOT DIVIDED,STRAIGHT AND LEVEL,...,1.0,0.0,6.0,0.0,14,4,8,41.940077,-87.650295,POINT (-87.650294867996 41.940076854718)

In [163]:
unitnull = people[people['RD_NO'] == 'JB374571']
unitnull['VEHICLE_ID']

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
113587,O445609,BICYCLE,JB374571,NaN,08/01/2018 02:59:00 PM,HOFFMAN ESTATES,IL,M,26.0,NONE PRESENT,NaN,NONE,NONINCAPACITATING INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113588,O445620,DRIVER,JB374571,427330.0,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,59.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113589,O445652,DRIVER,JB374571,NaN,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,59.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113590,O445653,DRIVER,JB374571,NaN,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,59.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113591,O445667,DRIVER,JB374571,427349.0,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,59.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113592,O445904,DRIVER,JB374571,NaN,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,59.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
113593,P100689,PASSENGER,JB374571,427330.0,08/01/2018 02:59:00 PM,DES PLAINES,IL,F,22.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,$500 OR LESS,NaN

In [167]:
passe = people[people['PERSON_TYPE'] == 'PASSENGER']
passe

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
8,P126669,PASSENGER,JC113604,535703.0,01/11/2019 11:08:00 PM,NaN,NaN,F,NaN,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",1702.584614
11,P126665,PASSENGER,JC113579,535694.0,01/11/2019 10:45:00 PM,CHICAGO,IL,F,29.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",7056.834554
14,P126674,PASSENGER,JC113617,535725.0,01/11/2019 10:28:00 PM,CHICAGO,IL,F,39.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",2090.583708
22,P126663,PASSENGER,JC113528,535688.0,01/11/2019 09:35:00 PM,CHICAGO,IL,F,18.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",4293.840357
23,P126664,PASSENGER,JC113528,535678.0,01/11/2019 09:35:00 PM,CHICAGO,IL,M,25.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",2493.790294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564533,P11,PASSENGER,HY372446,59.0,07/07/2015 03:15:00 PM,CHICAGO,IL,F,69.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",2721.754111
564535,P20,PASSENGER,HY372966,83.0,07/04/2015 12:15:00 AM,CHICAGO,IL,M,24.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"$501 - $1,500",1408.049718
564539,P887,PASSENGER,HY451313,4677.0,06/22/2015 02:30:00 PM,NaN,NaN,M,NaN,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",5342.445322
564540,P888,PASSENGER,HY451313,4682.0,06/22/2015 02:30:00 PM,NaN,MN,M,NaN,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",3809.324686
564564,P108071,PASSENGER,JB442550,460661.0,01/18/2014 06:14:00 PM,CHICAGO,IL,M,41.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",6589.530915

In [169]:
people[people['RD_NO']=='JC113528']

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
20,O561505,DRIVER,JC113528,535678.0,01/11/2019 09:35:00 PM,NaN,NaN,M,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3335.028867
21,O561506,DRIVER,JC113528,535688.0,01/11/2019 09:35:00 PM,OAKLAWN,IL,M,50.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",4592.998567
22,P126663,PASSENGER,JC113528,535688.0,01/11/2019 09:35:00 PM,CHICAGO,IL,F,18.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",4293.840357
23,P126664,PASSENGER,JC113528,535678.0,01/11/2019 09:35:00 PM,CHICAGO,IL,M,25.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",2493.790294

In [168]:
vehicles[vehicles['RD_NO']=='JC113528']

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
17,561505,JC113528,01/11/2019 09:35:00 PM,1,DRIVER,535678.0,PONTIAC,GRAND PRIX,IL,1999.0,UNKNOWN,PASSENGER,PERSONAL,E,AVOIDING VEHICLES/OBJECTS,2.0,FRONT-LEFT
18,561506,JC113528,01/11/2019 09:35:00 PM,2,DRIVER,535688.0,PONTIAC,G6,IL,2006.0,NONE,PASSENGER,PERSONAL,S,TURNING LEFT,2.0,SIDE-RIGHT

In [166]:
vehicles['UNIT_TYPE'].unique()

array(['DRIVER', 'PARKED', 'PEDESTRIAN', 'BICYCLE', 'NON-MOTOR VEHICLE',
       'DRIVERLESS', 'NON-CONTACT VEHICLE', nan], dtype=object)

considerando che i passeggeri coinvolti negli incidenti non sono riportati nel ds vehicles, abbiamo deciso di rimuovere la riga

vehicle

In [184]:
vehicle3 = vehicles.sort_values(by='VEHICLE_ID')
# Rimuoviamo i valori nulli
vehicles2 = vehicle3['VEHICLE_ID'].dropna()

# Controlla se i valori sono progressivi
progressive = (vehicles2.diff().fillna(0) >= 0).all()

# Mostra il risultato
if progressive:
    print("I valori nella colonna (escludendo i nulli) sono progressivi.")
else:
    print("I valori nella colonna (escludendo i nulli) NON sono progressivi.")

I valori nella colonna (escludendo i nulli) sono progressivi.

In [186]:
vehicles2

460383         2.0
460384         3.0
460382         4.0
460380         6.0
460381         7.0
            ...
10        535723.0
11        535725.0
1         535738.0
2         535741.0
0         535742.0
Name: VEHICLE_ID, Length: 450064, dtype: float64

In [59]:
colonne = ['VEHICLE_ID', 'MAKE', 'VEHICLE_DEFECT', 'VEHICLE_TYPE', 
           'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'OCCUPANT_CNT']

df_null = vehicles[colonne].isnull()

righe_con_null = df_null.all(axis=1)

righe_con_tutti_null = vehicles[righe_con_null]

righe_con_tutti_null['UNIT_TYPE'].value_counts()

UNIT_TYPE
PEDESTRIAN             6091
BICYCLE                3761
NON-MOTOR VEHICLE       472
NON-CONTACT VEHICLE      42
DRIVER                    6
Name: count, dtype: int64

##### 10373 righe hanno valori nulli per le colonne: VEHICLE_ID, MAKE, VEHICLE_DEFECT,VEHICLE_TYPE, VEHICLE_USE, TRAVEL_DIRECTION, MANEUVER, OCCUPANT_CNT perchè sono tutti pedoni/bici/senza macchina

In [104]:
vehicles['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT                98284
REAR                 70325
FRONT-RIGHT          61541
FRONT-LEFT           57494
UNKNOWN              44917
SIDE-RIGHT           30397
SIDE-LEFT            26482
REAR-LEFT            25857
REAR-RIGHT           24029
NONE                  5379
OTHER                 1962
TOTAL (ALL AREAS)     1903
UNDER CARRIAGE         829
ROOF                   650
Name: count, dtype: int64

In [111]:
vv = vehicles[vehicles['UNIT_TYPE']== 'BICYCLE']
vv['FIRST_CONTACT_POINT'].value_counts()

Series([], Name: count, dtype: int64)

In [117]:
no_fcp = vehicles[vehicles['FIRST_CONTACT_POINT'].isnull()] 
no_fcp['UNIT_TYPE'].value_counts()

UNIT_TYPE
PEDESTRIAN             6091
BICYCLE                3761
NON-MOTOR VEHICLE       472
NON-CONTACT VEHICLE      55
DRIVER                    8
Name: count, dtype: int64

In [195]:
vehicles['TRAVEL_DIRECTION'].value_counts()

TRAVEL_DIRECTION
N          106758
S          103431
W           95333
E           92613
UNKNOWN     31089
SE           6063
NW           5458
SW           4738
NE           4581
Name: count, dtype: int64

In [193]:
driver = vehicles[vehicles['UNIT_TYPE'] == 'PEDESTRIAN']
driver['VEHICLE_TYPE'].value_counts()

Series([], Name: count, dtype: int64)

In [115]:
no_fcp[no_fcp['MANEUVER']== 'TURNING LEFT']

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
45241,504128,JB483067,10/20/2018 01:00:00 PM,1,NON-CONTACT VEHICLE,481896.0,"TOYOTA MOTOR COMPANY, LTD.",UNKNOWN,IL,2006.0,UNKNOWN,SPORT UTILITY VEHICLE (SUV),UNKNOWN/NA,S,TURNING LEFT,1.0,NaN
82970,457027,JB396892,08/17/2018 06:00:00 AM,1,NON-CONTACT VEHICLE,437982.0,FORD,ESCAPE (SUV),IL,2015.0,NONE,PASSENGER,PERSONAL,N,TURNING LEFT,1.0,NaN
91902,445854,JB374667,08/01/2018 03:30:00 PM,1,DRIVER,427436.0,UNKNOWN,UNKNOWN,IL,2010.0,UNKNOWN,BUS OVER 15 PASS.,SCHOOL BUS,SW,TURNING LEFT,1.0,NaN
426504,39547,HZ219490,04/09/2016 01:45:00 PM,1,NON-CONTACT VEHICLE,38224.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,SPORT UTILITY VEHICLE (SUV),PERSONAL,N,TURNING LEFT,1.0,NaN

In [116]:
no_fcp[no_fcp['MANEUVER']== 'STRAIGHT AHEAD']

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
77036,464430,JB411220,08/27/2018 05:20:00 PM,1,NON-CONTACT VEHICLE,444855.0,NISSAN,Frontier,TN,2002.0,NONE,PICKUP,PERSONAL,S,STRAIGHT AHEAD,1.0,NaN
210423,298723,JB106709,01/06/2018 03:05:00 PM,3,NON-CONTACT VEHICLE,289535.0,UNKNOWN,UNKNOWN,NaN,NaN,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,W,STRAIGHT AHEAD,1.0,NaN
237076,265869,JA519355,11/20/2017 04:30:00 PM,1,NON-CONTACT VEHICLE,258570.0,UNKNOWN,UNKNOWN,NaN,NaN,NONE,UNKNOWN/NA,UNKNOWN/NA,W,STRAIGHT AHEAD,1.0,NaN
356772,138972,JA133212,01/28/2017 01:35:00 PM,3,NON-CONTACT VEHICLE,138655.0,HONDA,ACCORD,IL,2008.0,UNKNOWN,PASSENGER,UNKNOWN/NA,W,STRAIGHT AHEAD,1.0,NaN

###### togliendo queste righe sopra, gli altri 10373 sono pedoni/bici/senza veicolo a motore

In [98]:
tur_left = vehicles[vehicles['MANEUVER'] == 'TURNING LEFT']
tur_left['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT-RIGHT          6722
FRONT-LEFT           5660
FRONT                5143
SIDE-RIGHT           2471
SIDE-LEFT            2363
REAR-RIGHT           2135
REAR-LEFT            1881
UNKNOWN              1305
REAR                  776
NONE                  372
OTHER                 101
TOTAL (ALL AREAS)     101
UNDER CARRIAGE         25
ROOF                   17
Name: count, dtype: int64

In [99]:
ch_lanes = vehicles[vehicles['MANEUVER'] == 'STRAIGHT AHEAD']
ch_lanes['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT                70902
FRONT-RIGHT          33085
REAR                 28073
FRONT-LEFT           27704
SIDE-RIGHT           17340
SIDE-LEFT            14205
UNKNOWN              11399
REAR-LEFT            10550
REAR-RIGHT           10223
NONE                  2681
TOTAL (ALL AREAS)     1304
OTHER                 1126
UNDER CARRIAGE         556
ROOF                   507
Name: count, dtype: int64

In [18]:
noc = vehicles[vehicles['OCCUPANT_CNT'].isnull()]
aaa = noc[noc['UNIT_TYPE']=='DRIVER']
aaa

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
91168,447299,JB376407,08/02/2018 04:45:00 PM,2,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91744,445864,JB374941,08/01/2018 06:15:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91939,445652,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91940,445653,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91941,445904,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91994,445666,JB374559,08/01/2018 02:19:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
aaaaa = vehicles[vehicles['VEHICLE_TYPE'].isnull()]
aaaaa[aaaaa['UNIT_TYPE']=='DRIVER']

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
91168,447299,JB376407,08/02/2018 04:45:00 PM,2,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91744,445864,JB374941,08/01/2018 06:15:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91939,445652,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91940,445653,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91941,445904,JB374571,08/01/2018 02:59:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91994,445666,JB374559,08/01/2018 02:19:00 PM,1,DRIVER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
vehicles['MANEUVER'].value_counts()

MANEUVER
STRAIGHT AHEAD                        229659
SLOW/STOP IN TRAFFIC                   42293
UNKNOWN/NA                             38514
TURNING LEFT                           29076
BACKING                                23129
TURNING RIGHT                          16902
PASSING/OVERTAKING                     12757
CHANGING LANES                         11343
OTHER                                   8184
ENTERING TRAFFIC LANE FROM PARKING      6385
PARKED                                  4711
MERGING                                 3723
STARTING IN TRAFFIC                     3330
SLOW/STOP - LEFT TURN                   2761
LEAVING TRAFFIC LANE TO PARK            2757
U-TURN                                  2711
ENTER FROM DRIVE/ALLEY                  2310
AVOIDING VEHICLES/OBJECTS               2241
SKIDDING/CONTROL LOSS                   2115
SLOW/STOP - RIGHT TURN                  1744
SLOW/STOP - LOAD/UNLOAD                 1457
NEGOTIATING A CURVE                      765
DRIVING WRONG WAY                        636
PARKED IN TRAFFIC LANE                   272
TURNING ON RED                           197
DIVERGING                                 79
DRIVERLESS                                13
Name: count, dtype: int64

In [33]:
aaa = vehicles[vehicles['UNIT_TYPE']=='NON-MOTOR VEHICLE']
aaa['MANEUVER'].value_counts()

Series([], Name: count, dtype: int64)

In [100]:
ch_lanes = vehicles[vehicles['MANEUVER'] == 'CHANGING LANES']
ch_lanes['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT-RIGHT          3492
FRONT-LEFT           2416
SIDE-RIGHT           1275
SIDE-LEFT             969
UNKNOWN               834
REAR-LEFT             833
REAR-RIGHT            651
FRONT                 505
REAR                  161
NONE                  122
TOTAL (ALL AREAS)      43
OTHER                  33
UNDER CARRIAGE          5
ROOF                    1
Name: count, dtype: int64

In [101]:
ch_lanes = vehicles[vehicles['MANEUVER'] == 'U-TURN']
ch_lanes['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT-LEFT           687
FRONT                443
SIDE-LEFT            397
FRONT-RIGHT          389
REAR-LEFT            290
UNKNOWN              202
REAR-RIGHT           104
SIDE-RIGHT            84
REAR                  66
NONE                  26
TOTAL (ALL AREAS)     11
UNDER CARRIAGE         5
OTHER                  4
ROOF                   1
Name: count, dtype: int64

In [102]:
ch_lanes = vehicles[vehicles['MANEUVER'] == 'SLOW/STOP IN TRAFFIC']
ch_lanes['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
REAR                 24409
FRONT                 5871
REAR-LEFT             3000
FRONT-LEFT            2124
REAR-RIGHT            2121
FRONT-RIGHT           1478
SIDE-LEFT             1370
SIDE-RIGHT             940
UNKNOWN                461
NONE                   304
OTHER                  123
TOTAL (ALL AREAS)       75
ROOF                     9
UNDER CARRIAGE           7
Name: count, dtype: int64

In [103]:
ch_lanes = vehicles[vehicles['MANEUVER'] == 'PARKED IN TRAFFIC LANE']
ch_lanes['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
SIDE-LEFT            65
REAR-LEFT            58
FRONT-LEFT           53
FRONT                23
SIDE-RIGHT           23
REAR                 12
REAR-RIGHT           12
FRONT-RIGHT          10
UNKNOWN               9
NONE                  3
OTHER                 2
TOTAL (ALL AREAS)     1
Name: count, dtype: int64

# PEOPLE DATASET

In [7]:
people

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
0,O561555,DRIVER,JC113649,535742.0,01/12/2019 12:01:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",6069.089569
1,O561563,DRIVER,JC113627,535738.0,01/11/2019 11:36:00 PM,CHICAGO,IL,M,63.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",6237.638447
2,O561564,DRIVER,JC113627,535741.0,01/11/2019 11:36:00 PM,CHICAGO,IL,M,36.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,DISREGARDED CONTROL DEVICES,NOT OBSCURED,IMPAIRED - ALCOHOL,"TEST PERFORMED, RESULTS UNKNOWN","OVER $1,500",3802.304187
3,O561540,DRIVER,JC113637,535714.0,01/11/2019 11:31:00 PM,NaN,NaN,F,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,NONE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3127.680131
4,O561541,DRIVER,JC113637,535718.0,01/11/2019 11:31:00 PM,CHICAGO,IL,F,31.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",2225.886815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564560,O30751,DRIVER,HZ164689,29701.0,02/24/2014 07:45:00 PM,CHICAGO,IL,M,33.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",1436.117669
564561,O24495,DRIVER,HZ122950,23633.0,01/21/2014 07:40:00 AM,CHICAGO,IL,F,36.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",2713.810276
564562,O24496,DRIVER,HZ122950,23634.0,01/21/2014 07:40:00 AM,CHICAGO,IL,F,41.0,SAFETY BELT USED,"DEPLOYED, FRONT",NONE,NONINCAPACITATING INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",8248.141026
564563,O481321,DRIVER,JB442550,460655.0,01/18/2014 06:14:00 PM,NaN,NaN,M,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,IMPROPER PARKING,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",1940.156103
564564,P108071,PASSENGER,JB442550,460661.0,01/18/2014 06:14:00 PM,CHICAGO,IL,M,41.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,NaN,"OVER $1,500",6589.530915

In [112]:
people['INJURY_CLASSIFICATION'].isnull().sum()

296

In [125]:
inj_list

['JC111323',
 'JC110823',
 'JC100357',
 'JB572388',
 'JB566159',
 'JB566159',
 'JB566159',
 'JB566159',
 'JB558087',
 'JB555457',
 'JB552431',
 'JB545482',
 'JB529191',
 'JB528366',
 'JB528366',
 'JB527662',
 'JB527342',
 'JB524845',
 'JB522169',
 'JB525110',
 'JB518098',
 'JB513726',
 'JB512307',
 'JB504023',
 'JB502645',
 'JB501818',
 'JB497597',
 'JB493371',
 'JB491560',
 'JB491560',
 'JB491560',
 'JB491560',
 'JB482615',
 'JB482165',
 'JB463468',
 'JB457828',
 'JB457728',
 'JB451853',
 'JB449109',
 'JB449109',
 'JB449109',
 'JB449109',
 'JB443688',
 'JB440461',
 'JB436729',
 'JB429886',
 'JB429993',
 'JB428417',
 'JB442417',
 'JB435115',
 'JB412266',
 'JB403553',
 'JB404285',
 'JB397446',
 'JB395148',
 'JB402694',
 'JB390402',
 'JB377738',
 'JB374284',
 'JB369972',
 'JB368561',
 'JB380341',
 'JB362832',
 'JB362230',
 'JB362063',
 'JB357618',
 'JB356003',
 'JB347614',
 'JB340446',
 'JB339497',
 'JB342929',
 'JB333688',
 'JB332576',
 'JB330225',
 'JB330579',
 'JB334416',
 'JB325091',
 'JB324270',
 'JB321344',
 'JB316404',
 'JB316085',
 'JB315447',
 'JB306234',
 'JB306019',
 'JB294516',
 'JB283553',
 'JB279451',
 'JB277449',
 'JB268435',
 'JB263691',
 'JB263691',
 'JB262802',
 'JB260182',
 'JB255807',
 'JB252670',
 'JB251035',
 'JB244538',
 'JB242989',
 'JB235970',
 'JB230282',
 'JB228318',
 'JB220791',
 'JB216756',
 'JB235828',
 'JB205335',
 'JB204220',
 'JB198056',
 'JB191679',
 'JB180079',
 'JB178488',
 'JB177693',
 'JB176378',
 'JB174296',
 'JB173895',
 'JB173040',
 'JB176878',
 'JB171822',
 'JB164804',
 'JB164514',
 'JB162390',
 'JB163449',
 'JB152985',
 'JB151723',
 'JB150393',
 'JB150159',
 'JB147791',
 'JB146780',
 'JB143675',
 'JB143675',
 'JB143426',
 'JB141692',
 'JB134524',
 'JB127538',
 'JB131707',
 'JB121477',
 'JB133830',
 'JB110611',
 'JB107687',
 'JB103989',
 'JB103020',
 'JA566812',
 'JA556580',
 'JA554103',
 'JA543591',
 'JA537607',
 'JA533305',
 'JA530386',
 'JA527606',
 'JA518653',
 'JA518653',
 'JA518653',
 'JA518653',
 'JA506097',
 'JA506050',
 'JA505061',
 'JA502141',
 'JA494185',
 'JA487764',
 'JA486778',
 'JA486451',
 'JA482293',
 'JA472447',
 'JA470621',
 'JA466660',
 'JA467702',
 'JA465313',
 'JA465851',
 'JA456427',
 'JA455692',
 'JA456632',
 'JA448135',
 'JA447142',
 'JA428298',
 'JA418958',
 'JA413599',
 'JA410394',
 'JA409127',
 'JA408240',
 'JA408145',
 'JA410041',
 'JA406455',
 'JA405421',
 'JA403030',
 'JA390506',
 'JA390506',
 'JA390506',
 'JA390506',
 'JA388793',
 'JA388792',
 'JA387889',
 'JA387758',
 'JA385811',
 'JA383884',
 'JA372445',
 'JA357775',
 'JA356656',
 'JA345639',
 'JA335323',
 'JA331278',
 'JA319676',
 'JA323106',
 'JA318827',
 'JA318827',
 'JA318827',
 'JA318827',
 'JA313248',
 'JA308925',
 'JA310233',
 'JA280756',
 'JA266545',
 'JA258225',
 'JA244525',
 'JA236443',
 'JA319386',
 'JA197113',
 'JA193960',
 'JA186721',
 'JA171502',
 'JA148244',
 'JA145278',
 'JA152118',
 'JA144322',
 'JA135336',
 'JA122285',
 'JA129591',
 'JA110177',
 'JA105688',
 'JA105619',
 'HZ554878',
 'HZ558913',
 'HZ553669',
 'HZ551491',
 'HZ548932',
 'HZ548449',
 'HZ545009',
 'HZ530669',
 'HZ505126',
 'HZ496596',
 'HZ495262',
 'HZ486415',
 'HZ474486',
 'HZ472716',
 'HZ460663',
 'HZ449162',
 'HZ441157',
 'HZ433869',
 'HZ425997',
 'HZ406690',
 'HZ404623',
 'HZ401816',
 'HZ451954',
 'HZ381837',
 'HZ377591',
 'HZ373293',
 'HZ360728',
 'HZ353809',
 'HZ353915',
 'HZ353067',
 'HZ351637',
 'HZ349973',
 'HZ349017',
 'HZ367360',
 'HZ345933',
 'HZ331176',
 'HZ347565',
 'HZ328446',
 'HZ313797',
 'HZ302334',
 'HZ289463',
 'HZ279999',
 'HZ275931',
 'HZ274103',
 'HZ264950',
 'HZ231127',
 'HZ216398',
 'HZ206675',
 'HZ205369',
 'HZ195757',
 'HZ181959',
 'HZ158418',
 'HZ157296',
 'HZ146002',
 'HZ128175',
 'HY537867',
 'HY535546',
 'HY529626',
 'HY512867',
 'HY510137',
 'HY502482',
 'HY488189',
 'HY484766',
 'HY492055',
 'HY474830',
 'HY454575',
 'HY419234',
 'HY410181']

In [127]:
# Filtra il DataFrame 'people' per le righe in cui 'RD_NO' è presente in 'inj_list'
filtered_people = people[people['RD_NO'].isin(inj_list)]

# Conta le occorrenze di ciascun ID 'RD_NO' in 'filtered_people'
id_counts = filtered_people['RD_NO'].value_counts()

# Filtra gli ID che compaiono solo una volta e trasformali in una lista
single_occurrence_ids = id_counts[id_counts == 1].index.tolist()

# Visualizza la lista degli ID che compaiono solo una volta
print(single_occurrence_ids)

['JA465313', 'JB482615', 'JB529191', 'JA244525', 'JA406455', 'HZ157296', 'HZ328446']

In [119]:
# Filtra il DataFrame 'crashes' per le righe che hanno 'RD_NO' presente in 'inj_list'
for idd in inj_list:
    # Trova le righe corrispondenti a questo 'RD_NO' specifico e stampa il valore di 'INJURY_TOTAL'
    rows = crashes.loc[crashes['RD_NO'] == idd, 'MOST_SEVERE_INJURY']
    if not rows.empty:
        print(rows.values)  # Stampa i valori di 'INJURY_TOTAL' per le righe corrispondenti

['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['INCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['REPORTED, NOT EVIDENT']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['INCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['REPORTED, NOT EVIDENT']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['INCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['REPORTED, NOT EVIDENT']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['REPORTED, NOT EVIDENT']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['REPORTED, NOT EVIDENT']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
[nan]
['REPORTED, NOT EVIDENT']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
[nan]
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NONINCAPACITATING INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']
['NO INDICATION OF INJURY']

In [107]:
people['INJURY_CLASSIFICATION'].value_counts()

INJURY_CLASSIFICATION
NO INDICATION OF INJURY     524430
NONINCAPACITATING INJURY     21334
REPORTED, NOT EVIDENT        13843
INCAPACITATING INJURY         4426
FATAL                          236
Name: count, dtype: int64

In [129]:
people['DRIVER_ACTION'].value_counts()

DRIVER_ACTION
NONE                                 171361
UNKNOWN                               97822
FAILED TO YIELD                       45427
OTHER                                 36727
FOLLOWED TOO CLOSELY                  32432
IMPROPER BACKING                      15534
IMPROPER LANE CHANGE                  13214
IMPROPER TURN                         12291
IMPROPER PASSING                      10452
TOO FAST FOR CONDITIONS                7348
DISREGARDED CONTROL DEVICES            6509
IMPROPER PARKING                       1858
WRONG WAY/SIDE                         1531
CELL PHONE USE OTHER THAN TEXTING       881
EVADING POLICE VEHICLE                  744
EMERGENCY VEHICLE ON CALL               369
TEXTING                                 222
STOPPED SCHOOL BUS                       63
LICENSE RESTRICTIONS                     14
Name: count, dtype: int64

In [162]:
dd = people[people['BAC_RESULT'].isnull()]
dd['PERSON_TYPE'].value_counts()

PERSON_TYPE
PASSENGER    108833
Name: count, dtype: int64

In [163]:
passs = people[people['PERSON_TYPE'] == 'PASSENGER']
passs['BAC_RESULT'].value_counts()

Series([], Name: count, dtype: int64)

In [106]:
people['PERSON_TYPE'].value_counts()

PERSON_TYPE
DRIVER                 444982
PASSENGER              108833
PEDESTRIAN               6352
BICYCLE                  3799
NON-MOTOR VEHICLE         496
NON-CONTACT VEHICLE       103
Name: count, dtype: int64

In [120]:
people['INJURY_CLASSIFICATION'].value_counts()

INJURY_CLASSIFICATION
NO INDICATION OF INJURY     524430
NONINCAPACITATING INJURY     21334
REPORTED, NOT EVIDENT        13843
INCAPACITATING INJURY         4426
FATAL                          236
Name: count, dtype: int64

In [123]:
crashes['MOST_SEVERE_INJURY'].value_counts()

MOST_SEVERE_INJURY
NO INDICATION OF INJURY     228475
NONINCAPACITATING INJURY     15808
REPORTED, NOT EVIDENT         9703
INCAPACITATING INJURY         3723
FATAL                          209
Name: count, dtype: int64

In [99]:
ej = people[people['EJECTION'].isnull()]
ej['PERSON_TYPE'].value_counts()

PERSON_TYPE
PEDESTRIAN             6352
NON-MOTOR VEHICLE       242
BICYCLE                  71
PASSENGER                20
NON-CONTACT VEHICLE      20
Name: count, dtype: int64

In [104]:
eje  = people[people['PERSON_TYPE'] == 'NON-MOTOR VEHICLE']
eje['EJECTION'].value_counts()

EJECTION
NONE                 236
UNKNOWN               15
TOTALLY EJECTED        2
PARTIALLY EJECTED      1
Name: count, dtype: int64

In [59]:
no_vehicle = people[people['VEHICLE_ID'].isnull()]

In [60]:
no_vehicle['PERSON_TYPE'].unique()

array(['PEDESTRIAN', 'BICYCLE', 'NON-MOTOR VEHICLE',
       'NON-CONTACT VEHICLE', 'DRIVER'], dtype=object)

In [61]:
no_v_ped = no_vehicle[no_vehicle['PERSON_TYPE'] == 'PEDESTRIAN']

In [62]:
no_v_ped = no_vehicle[no_vehicle['PERSON_TYPE'] == 'BICYCLE']

In [63]:
no_v_ped = no_vehicle[no_vehicle['PERSON_TYPE'] == 'NON-MOTOR VEHICLE']

In [65]:
no_v_noncont = no_vehicle[no_vehicle['PERSON_TYPE'] == 'NON-CONTACT VEHICLE']

In [95]:
people['VEHICLE_ID'].isnull().sum()

10696

In [84]:
aa = vehicles[vehicles['CRASH_UNIT_ID'] == 347069]
aa

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
171052,347069,JB193391,03/20/2018 05:50:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
cinque = people[people['DAMAGE_CATEGORY'] == '$500 OR LESS']
cinque['DAMAGE'].value_counts()

Series([], Name: count, dtype: int64)

In [169]:
dam = people[people['DAMAGE'].isnull()]
dam['DAMAGE_CATEGORY'].value_counts()

DAMAGE_CATEGORY
$500 OR LESS    74309
Name: count, dtype: int64

In [180]:
cinque = people[people['DAMAGE_CATEGORY'] == 'OVER $1,500']
cinque['DAMAGE'].max()

15536.847301130172

In [173]:
people['DAMAGE_CATEGORY'].unique()

array(['OVER $1,500', '$500 OR LESS', '$501 - $1,500'], dtype=object)

In [66]:
no_v_noncont

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
21919,O538784,NON-CONTACT VEHICLE,JB545482,NaN,12/08/2018 07:21:00 PM,CHICAGO,IL,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NaN,FAILED TO YIELD,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",5394.020430
27683,O532855,NON-CONTACT VEHICLE,JB535046,NaN,11/30/2018 05:15:00 PM,NaN,NaN,NaN,NaN,NONE PRESENT,NaN,NONE,NO INDICATION OF INJURY,OTHER,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3873.965862
39539,O520830,NON-CONTACT VEHICLE,JB514012,NaN,11/13/2018 08:01:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",505.874005
46294,O514021,NON-CONTACT VEHICLE,JB501818,NaN,11/03/2018 12:10:00 PM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",553.092693
56736,O503649,NON-CONTACT VEHICLE,JB482165,NaN,10/19/2018 02:00:00 PM,CHCIAGO,IL,M,71.0,NaN,NaN,NONE,NaN,NONE,NaN,NaN,TEST NOT OFFERED,$500 OR LESS,NaN
67068,O492712,NON-CONTACT VEHICLE,JB463468,NaN,10/05/2018 11:14:00 AM,CHICAGO,IL,X,NaN,USAGE UNKNOWN,NOT APPLICABLE,NaN,NaN,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",620.897932
79342,O480289,NON-CONTACT VEHICLE,JB440461,NaN,09/18/2018 11:39:00 AM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",780.636798
96672,O462919,NON-CONTACT VEHICLE,JB408384,NaN,08/25/2018 01:10:00 PM,NaN,NaN,NaN,NaN,USAGE UNKNOWN,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,TOO FAST FOR CONDITIONS,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",1089.091012
118090,O448833,NON-CONTACT VEHICLE,JB380341,NaN,07/26/2018 06:50:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,$500 OR LESS,NaN
140867,O417796,NON-CONTACT VEHICLE,JB321344,NaN,06/25/2018 01:20:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMPROPER TURN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3264.823067
163042,O395805,NON-CONTACT VEHICLE,JB281096,NaN,05/27/2018 03:26:00 PM,CHICAGO,IL,NaN,NaN,NONE PRESENT,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,TEST NOT OFFERED,"OVER $1,500",7179.498952
175108,O384013,NON-CONTACT VEHICLE,JB260182,NaN,05/11/2018 10:43:00 PM,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",1255.552547
178474,O381628,NON-CONTACT VEHICLE,JB255807,NaN,05/07/2018 04:45:00 PM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,$500 OR LESS,NaN
179482,O379659,NON-CONTACT VEHICLE,JB252292,NaN,05/06/2018 11:35:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,$500 OR LESS,NaN
183622,O375642,NON-CONTACT VEHICLE,JB244952,NaN,05/01/2018 08:45:00 AM,NaN,NaN,M,NaN,USAGE UNKNOWN,NaN,NONE,NO INDICATION OF INJURY,WRONG WAY/SIDE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",1255.497556
202162,O357104,NON-CONTACT VEHICLE,JB211847,NaN,04/04/2018 10:23:00 PM,NaN,NaN,M,NaN,USAGE UNKNOWN,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,NaN,NOT OBSCURED,UNKNOWN,TEST NOT OFFERED,$500 OR LESS,NaN
212162,O347069,NON-CONTACT VEHICLE,JB193391,NaN,03/20/2018 05:50:00 PM,OAK LAWN,IL,F,62.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,IMPROPER LANE CHANGE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",836.516910
220305,O339397,NON-CONTACT VEHICLE,JB179268,NaN,03/08/2018 09:30:00 PM,CHICAGO,IL,M,61.0,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,NONE,UNKNOWN,NORMAL,TEST NOT OFFERED,"OVER $1,500",5888.540908
227520,O332277,NON-CONTACT VEHICLE,JB166468,NaN,02/26/2018 05:25:00 AM,NaN,NaN,M,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,OTHER,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3506.241473
247151,O311828,NON-CONTACT VEHICLE,JB130530,NaN,01/26/2018 02:30:00 PM,CHICAGO,IL,M,33.0,SAFETY BELT USED,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,OTHER,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"OVER $1,500",1576.554168
266939,O292640,NON-CONTACT VEHICLE,JA566812,NaN,12/29/2017 02:00:00 PM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"OVER $1,500",7769.463784
275233,O283654,NON-CONTACT VEHICLE,JA552149,NaN,12/16/2017 10:25:00 PM,CHICAGO,IL,X,NaN,USAGE UNKNOWN,NaN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",2993.813916
278306,O280814,NON-CONTACT VEHICLE,JA547497,NaN,12/13/2017 07:45:00 AM,CHICAGO,IL,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",1064.053290
286032,O272934,NON-CONTACT VEHICLE,JA533437,NaN,12/02/2017 08:58:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",3948.357043
299171,O259828,NON-CONTACT VEHICLE,JA508711,NaN,11/12/2017 06:05:00 AM,NaN,NaN,M,NaN,USAGE UNKNOWN,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,TOO FAST FOR CONDITIONS,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",6204.160815
306330,O252471,NON-CONTACT VEHICLE,JA496235,NaN,11/02/2017 05:00:00 PM,NaN,NaN,NaN,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,UNKNOWN,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",6647.864579
307650,O251225,NON-CONTACT VEHICLE,JA494185,NaN,11/01/2017 09:15:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",1196.768970
310144,O248670,NON-CONTACT VEHICLE,JA489303,NaN,10/28/2017 11:28:00 AM,CICERO,IL,M,47.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,IMPROPER LANE CHANGE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",853.090930
310145,O248670,NON-CONTACT VEHICLE,JA489303,NaN,10/28/2017 11:28:00 AM,CICERO,IL,M,47.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,IMPROPER LANE CHANGE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",1367.971974
315904,O249256,NON-CONTACT VEHICLE,JA487945,NaN,10/20/2017 04:00:00 PM,CHICAGO,IL,F,24.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
323279,O239888,NON-CONTACT VEHICLE,JA467702,NaN,10/10/2017 05:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",1037.157247
331158,O227699,NON-CONTACT VEHICLE,JA451437,NaN,09/29/2017 01:00:00 PM,CICERO,IL,M,30.0,SAFETY BELT USED,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",526.494348
351454,O207428,NON-CONTACT VEHICLE,JA410394,NaN,08/29/2017 09:48:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"OVER $1,500",2207.936684
352503,O206331,NON-CONTACT VEHICLE,JA407879,NaN,08/27/2017 06:22:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,WRONG WAY/SIDE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",1885.873297
383609,O175753,NON-CONTACT VEHICLE,JA323501,NaN,06/26/2017 12:00:00 PM,CHICAGO,IL,X,NaN,NONE PRESENT,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,NONE,NaN,NORMAL,TEST NOT OFFERED,"OVER $1,500",3177.263216
385019,O174397,NON-CONTACT VEHICLE,JA318880,NaN,06/23/2017 06:15:00 AM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",5622.740653
395832,O164903,NON-CONTACT VEHICLE,JA288495,NaN,05/31/2017 06:00:00 AM,CHICAGO,IL,M,NaN,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,OTHER,NOT OBSCURED,NORMAL,TEST NOT OFFERED,$500 OR LESS,NaN
406308,O170925,NON-CONTACT VEHICLE,JA307159,NaN,05/05/2017 06:00:00 PM,NaN,IL,NaN,63.0,NaN,NaN,NONE,NO INDICATION OF INJURY,NONE,NOT OBSCURED,NORMAL,TEST NOT OFFERED,"$501 - $1,500",1058.944177
410021,O151572,NON-CONTACT VEHICLE,JA241341,NaN,04/27/2017 09:20:00 AM,CHICAGO,IL,NaN,NaN,USAGE UNKNOWN,NOT APPLICABLE,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",822.369161
427046,O138499,NON-CONTACT VEHICLE,JA182370,NaN,03/10/2017 04:15:00 PM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",651.049897
447700,O114032,NON-CONTACT VEHICLE,JA103121,NaN,01/03/2017 03:40:00 PM,NaN,NaN,X,NaN,USAGE UNKNOWN,DEPLOYMENT UNKNOWN,NONE,NO INDICATION OF INJURY,FAILED TO YIELD,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"OVER $1,500",2750.128126
467059,O94910,NON-CONTACT VEHICLE,HZ505126,NaN,11/06/2016 02:30:00 PM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"OVER $1,500",1736.265632
477097,O86138,NON-CONTACT VEHICLE,HZ472716,NaN,10/10/2016 02:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"OVER $1,500",2331.483155

In [32]:
no_saf = people[people['SAFETY_EQUIPMENT'].isnull()]

In [36]:
no_saf['PERSON_TYPE'].unique()

array(['PEDESTRIAN', 'NON-MOTOR VEHICLE', 'PASSENGER', 'BICYCLE',
       'NON-CONTACT VEHICLE'], dtype=object)

In [35]:
no_saf[no_saf['PERSON_TYPE']=='PASSENGER']

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
16148,P122575,PASSENGER,JB555457,519710.0,12/16/2018 06:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",2860.739556
31603,P119027,PASSENGER,JB528366,505038.0,11/25/2018 12:15:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$501 - $1,500",1448.892996
31604,P119029,PASSENGER,JB528366,505042.0,11/25/2018 12:15:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$501 - $1,500",1072.090036
36851,P118597,PASSENGER,JB525110,503534.0,11/16/2018 06:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",3688.913122
37245,P117700,PASSENGER,JB518098,499741.0,11/16/2018 09:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$500 OR LESS,NaN
44978,P115939,PASSENGER,JB504023,492363.0,11/05/2018 12:30:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$500 OR LESS,NaN
70099,P109995,PASSENGER,JB457828,468281.0,10/01/2018 08:40:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",5516.244913
116645,P99061,PASSENGER,JB368561,424558.0,07/27/2018 11:30:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",2908.789875
122136,P97639,PASSENGER,JB357618,419320.0,07/20/2018 11:14:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",3186.737144
136366,P94210,PASSENGER,JB330225,405702.0,07/01/2018 04:01:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",2827.493768
209661,P76633,PASSENGER,JB198056,337418.0,03/24/2018 12:40:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",3491.910850
213626,P75813,PASSENGER,JB191679,334170.0,03/18/2018 01:20:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",1738.022996
223310,P73358,PASSENGER,JB173040,324548.0,03/04/2018 07:24:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",3762.574104
224047,P73147,PASSENGER,JB171822,323867.0,03/03/2018 04:02:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$501 - $1,500",1059.779018
228042,P72171,PASSENGER,JB164514,320114.0,02/25/2018 04:00:00 AM,NaN,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",2259.772550
229344,P71849,PASSENGER,JB162390,318956.0,02/23/2018 11:12:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",3212.938809
236030,P70426,PASSENGER,JB150393,312498.0,02/13/2018 10:45:00 AM,NaN,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$500 OR LESS,NaN
236176,P70394,PASSENGER,JB150159,312307.0,02/13/2018 07:40:00 AM,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OVER $1,500",2195.292966

In [49]:
no_air = people[people['AIRBAG_DEPLOYED'].isnull()]
no_air['PERSON_TYPE'].value_counts()

PERSON_TYPE
PEDESTRIAN             6352
BICYCLE                3799
NON-MOTOR VEHICLE       259
NON-CONTACT VEHICLE      23
PASSENGER                19
Name: count, dtype: int64

In [56]:
no_air = people[people['EJECTION'].isnull()]
no_air['PERSON_TYPE'].value_counts()

PERSON_TYPE
PEDESTRIAN             6352
NON-MOTOR VEHICLE       242
BICYCLE                  71
PASSENGER                20
NON-CONTACT VEHICLE      20
Name: count, dtype: int64

In [62]:
no_inj = people[people['INJURY_CLASSIFICATION'].isnull()]
people['INJURY_CLASSIFICATION'].value_counts()

INJURY_CLASSIFICATION
NO INDICATION OF INJURY     524430
NONINCAPACITATING INJURY     21334
REPORTED, NOT EVIDENT        13843
INCAPACITATING INJURY         4426
FATAL                          236
Name: count, dtype: int64

In [63]:
no_air = people[people['DRIVER_ACTION'].isnull()]
no_air['PERSON_TYPE'].value_counts()

PERSON_TYPE
PASSENGER              108833
PEDESTRIAN                589
NON-MOTOR VEHICLE         240
BICYCLE                    88
NON-CONTACT VEHICLE        16
Name: count, dtype: int64

In [64]:
people['DRIVER_ACTION'].value_counts()

DRIVER_ACTION
NONE                                 171361
UNKNOWN                               97822
FAILED TO YIELD                       45427
OTHER                                 36727
FOLLOWED TOO CLOSELY                  32432
IMPROPER BACKING                      15534
IMPROPER LANE CHANGE                  13214
IMPROPER TURN                         12291
IMPROPER PASSING                      10452
TOO FAST FOR CONDITIONS                7348
DISREGARDED CONTROL DEVICES            6509
IMPROPER PARKING                       1858
WRONG WAY/SIDE                         1531
CELL PHONE USE OTHER THAN TEXTING       881
EVADING POLICE VEHICLE                  744
EMERGENCY VEHICLE ON CALL               369
TEXTING                                 222
STOPPED SCHOOL BUS                       63
LICENSE RESTRICTIONS                     14
Name: count, dtype: int64

In [73]:
p = people[people['PERSON_TYPE'] == 'DRIVER']
p['VEHICLE_ID'].value_counts()

VEHICLE_ID
535742.0    1
176399.0    1
176366.0    1
176606.0    1
176609.0    1
           ..
354314.0    1
354397.0    1
354387.0    1
354382.0    1
460655.0    1
Name: count, Length: 444976, dtype: int64

In [172]:
driv = vehicles[vehicles['UNIT_TYPE']=='DRIVER']
driv['VEHICLE_YEAR'].value_counts()

VEHICLE_YEAR
2015.0    30415
2014.0    28169
2016.0    27090
2013.0    25917
2012.0    22523
          ...
2994.0        1
2203.0        1
2914.0        1
2402.0        1
1962.0        1
Name: count, Length: 131, dtype: int64

In [171]:
null_year = vehicles[vehicles['VEHICLE_YEAR'].isnull()]
null_year['MODEL'].value_counts()

MODEL
UNKNOWN                                   54615
CAMRY                                       927
NISSAN ALTIMA                               720
IMPALA                                      667
MALIBU (CHEVELLE)                           601
                                          ...
HILBILT MFG. CO., BENTON, ARKANSAS            1
TURNPIKE CRUISER                              1
LABARON                                       1
RSX                                           1
AZTEC PRODUCTS, INC., MANSFIELD, TEXAS        1
Name: count, Length: 862, dtype: int64

In [11]:
cleaned_crashes = pd.read_csv('C:/Users/al797/Desktop/cleaned_crashes.csv')

In [12]:
cleaned_crashes

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC113649,01/12/2019 12:01:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,0,7,1,41.894718,-87.716439,POINT (-87.716439109795 41.894718028422)
1,JC113627,01/11/2019 11:36:00 PM,30,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.961558,-87.757564,POINT (-87.757564024038 41.961557797444)
2,JC113637,01/11/2019 11:31:00 PM,15,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DARKNESS,SIDESWIPE OPPOSITE DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,23,6,1,41.791460,-87.715908,POINT (-87.715907858157 41.791459913725)
3,JC113630,01/11/2019 11:22:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,23,6,1,41.876779,-87.741695,POINT (-87.741694507685 41.876778736117)
4,JC113604,01/11/2019 11:08:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,3.0,0.0,23,6,1,41.960921,-87.739893,POINT (-87.739893056441 41.960920858153)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257920,HY498942,11/11/2014 08:00:00 PM,30,NO CONTROLS,NO CONTROLS,UNKNOWN,UNKNOWN,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,1.0,0.0,20,3,11,41.998270,-87.662997,POINT (-87.662996825424 41.998269693725)
257921,HZ400518,08/20/2014 04:50:00 PM,0,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,REAR END,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,16,4,8,41.751143,-87.607091,POINT (-87.607090627909 41.751143217534)
257922,HZ164689,02/24/2014 07:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,19,2,2,41.884016,-87.701143,POINT (-87.701142757538 41.884016475152)
257923,HZ122950,01/21/2014 07:40:00 AM,30,YIELD,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,1.0,0.0,1.0,0.0,7,3,1,41.760710,-87.561946,POINT (-87.561946030143 41.760710194223)
257924,JB442550,01/18/2014 06:14:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DUSK,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN BARRIER,STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,18,7,1,41.885610,-87.638756,POINT (-87.638756189808 41.885609917063)

In [15]:
has_nulls = cleaned_crashes.isnull().any().any()
print("Il file contiene valori nulli:", has_nulls)

# Per vedere il conteggio dei null values per colonna
null_counts = cleaned_crashes.isnull().sum()
print("Conteggio dei valori nulli per colonna:\n", null_counts)

Il file contiene valori nulli: True
Conteggio dei valori nulli per colonna:
 RD_NO                               0
CRASH_DATE                          0
POSTED_SPEED_LIMIT                  0
TRAFFIC_CONTROL_DEVICE              0
DEVICE_CONDITION                    0
WEATHER_CONDITION                   0
LIGHTING_CONDITION                  0
FIRST_CRASH_TYPE                    0
TRAFFICWAY_TYPE                     0
ALIGNMENT                           0
ROADWAY_SURFACE_COND                0
ROAD_DEFECT                         0
REPORT_TYPE                      4996
CRASH_TYPE                          0
DATE_POLICE_NOTIFIED                0
PRIM_CONTRIBUTORY_CAUSE             0
SEC_CONTRIBUTORY_CAUSE              0
STREET_NO                           0
STREET_DIRECTION                    2
STREET_NAME                         1
BEAT_OF_OCCURRENCE                  4
NUM_UNITS                           0
MOST_SEVERE_INJURY                  7
INJURIES_TOTAL                      0
INJURIES_FATAL                      0
INJURIES_INCAPACITATING             0
INJURIES_NON_INCAPACITATING         0
INJURIES_REPORTED_NOT_EVIDENT       0
INJURIES_NO_INDICATION              0
INJURIES_UNKNOWN                    0
CRASH_HOUR                          0
CRASH_DAY_OF_WEEK                   0
CRASH_MONTH                         0
LATITUDE                         1022
LONGITUDE                        1022
LOCATION                         1022
dtype: int64

In [13]:
non_contact = vehicles[vehicles['UNIT_TYPE'] == 'NON-CONTACT VEHICLE']
non_contact['VEHICLE_ID'].value_counts().sum()

60

In [15]:
non_contact = vehicles[vehicles['UNIT_TYPE'] == 'NON-CONTACT VEHICLE']
non_contact[non_contact['VEHICLE_ID'].isnull()]

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
17645,538784,JB545482,12/08/2018 07:21:00 PM,3,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22335,532855,JB535046,11/30/2018 05:15:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32036,520830,JB514012,11/13/2018 08:01:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37446,514021,JB501818,11/03/2018 12:10:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45919,503649,JB482165,10/19/2018 02:00:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54307,492712,JB463468,10/05/2018 11:14:00 AM,3,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64311,480289,JB440461,09/18/2018 11:39:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78340,462919,JB408384,08/25/2018 01:10:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95531,448833,JB380341,07/26/2018 06:50:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113877,417796,JB321344,06/25/2018 01:20:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131718,395805,JB281096,05/27/2018 03:26:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141216,384013,JB260182,05/11/2018 10:43:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143943,381628,JB255807,05/07/2018 04:45:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144727,379659,JB252292,05/06/2018 11:35:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148042,375642,JB244952,05/01/2018 08:45:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163022,357104,JB211847,04/04/2018 10:23:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171052,347069,JB193391,03/20/2018 05:50:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177575,339397,JB179268,03/08/2018 09:30:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183429,332277,JB166468,02/26/2018 05:25:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199621,311828,JB130530,01/26/2018 02:30:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215841,292640,JA566812,12/29/2017 02:00:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222681,283654,JA552149,12/16/2017 10:25:00 PM,3,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225128,280814,JA547497,12/13/2017 07:45:00 AM,3,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231413,272934,JA533437,12/02/2017 08:58:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242096,259828,JA508711,11/12/2017 06:05:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248013,252471,JA496235,11/02/2017 05:00:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249116,251225,JA494185,11/01/2017 09:15:00 AM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251137,248670,JA489303,10/28/2017 11:28:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255868,249256,JA487945,10/20/2017 04:00:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261902,239888,JA467702,10/10/2017 05:00:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268278,227699,JA451437,09/29/2017 01:00:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284689,207428,JA410394,08/29/2017 09:48:00 AM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285534,206331,JA407879,08/27/2017 06:22:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310654,175753,JA323501,06/26/2017 12:00:00 PM,2,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311764,174397,JA318880,06/23/2017 06:15:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320507,164903,JA288495,05/31/2017 06:00:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328922,170925,JA307159,05/05/2017 06:00:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331892,151572,JA241341,04/27/2017 09:20:00 AM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345917,138499,JA182370,03/10/2017 04:15:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363131,114032,JA103121,01/03/2017 03:40:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379351,94910,HZ505126,11/06/2016 02:30:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387641,86138,HZ472716,10/10/2016 02:00:00 PM,1,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
rd = crashes[crashes['RD_NO'] == 'JB545482']
rd

,RD_NO,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,ALIGNMENT,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
9905,JB545482,12/08/2018 07:21:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT AND LEVEL,...,0.0,0.0,2.0,0.0,19,7,12,41.880328,-87.749961,POINT (-87.749961029766 41.880327970591)

In [18]:
vehicles[vehicles['RD_NO'] == 'JB545482']

,CRASH_UNIT_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,MAKE,MODEL,LIC_PLATE_STATE,VEHICLE_YEAR,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,OCCUPANT_CNT,FIRST_CONTACT_POINT
17643,538751,JB545482,12/08/2018 07:21:00 PM,1,DRIVER,514271.0,"PETERBILT MOTORS CO., DIVISION PACCAR, INC.","PETERBILT MOTORS CO., DIVISION PACCAR, INC.",IL,2006.0,NONE,TRACTOR W/O SEMI-TRAILER,COMMERCIAL - MULTI-UNIT,W,AVOIDING VEHICLES/OBJECTS,1.0,FRONT-LEFT
17644,538752,JB545482,12/08/2018 07:21:00 PM,2,DRIVER,514279.0,OLDSMOBILE,Alero,IL,1995.0,NONE,PASSENGER,PERSONAL,W,SLOW/STOP - LEFT TURN,1.0,SIDE-RIGHT
17645,538784,JB545482,12/08/2018 07:21:00 PM,3,NON-CONTACT VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
people[people['RD_NO'] == 'JB501818']

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,CITY,STATE,SEX,AGE,SAFETY_EQUIPMENT,AIRBAG_DEPLOYED,EJECTION,INJURY_CLASSIFICATION,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,BAC_RESULT,DAMAGE_CATEGORY,DAMAGE
46293,O514015,DRIVER,JB501818,491098.0,11/03/2018 12:10:00 PM,CHICAGO,IL,F,34.0,USAGE UNKNOWN,DID NOT DEPLOY,NONE,NO INDICATION OF INJURY,UNKNOWN,UNKNOWN,UNKNOWN,TEST NOT OFFERED,"$501 - $1,500",1237.659205
46294,O514021,NON-CONTACT VEHICLE,JB501818,NaN,11/03/2018 12:10:00 PM,CHICAGO,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEST NOT OFFERED,"$501 - $1,500",553.092693

In [24]:
crashdate = vehicles[['VEHICLE_ID', 'CRASH_DATE']]

        VEHICLE_ID              CRASH_DATE
0         535742.0  01/12/2019 12:01:00 AM
1         535738.0  01/11/2019 11:36:00 PM
2         535741.0  01/11/2019 11:36:00 PM
3         535714.0  01/11/2019 11:31:00 PM
4         535718.0  01/11/2019 11:31:00 PM
...            ...                     ...
460432     29701.0  02/24/2014 07:45:00 PM
460433     23633.0  01/21/2014 07:40:00 AM
460434     23634.0  01/21/2014 07:40:00 AM
460435    460655.0  01/18/2014 06:14:00 PM
460436    460661.0  01/18/2014 06:14:00 PM

[460437 rows x 2 columns]

In [27]:
crashdate = vehicles[['VEHICLE_ID', 'CRASH_DATE']]

crashdate['CRASH_DATE'] = pd.to_datetime(crashdate['CRASH_DATE'])

# Ordinamento del DataFrame per la colonna 'CRASH_DATE'
df_sorted = crashdate.sort_values(by='CRASH_DATE')

C:\Users\al797\AppData\Local\Temp\ipykernel_16456\2856713983.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crashdate['CRASH_DATE'] = pd.to_datetime(crashdate['CRASH_DATE'])
C:\Users\al797\AppData\Local\Temp\ipykernel_16456\2856713983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crashdate['CRASH_DATE'] = pd.to_datetime(crashdate['CRASH_DATE'])

In [38]:
df_sorted[['VEHICLE_ID', 'RD_NO']]

        VEHICLE_ID     RD_NO
363446    112602.0  AJ101349
363445    112611.0  AJ101349
362987    113255.0  AJ103671
362986    113253.0  AJ103671
360666    116464.0  AJ114251
...            ...       ...
242521    253916.0  ZA510570
182640    321538.0  ZB167408
439278     25848.0  hz125235
419613     48751.0  hz273623
419612     48750.0  hz273623

[460437 rows x 2 columns]

In [36]:
df_sorted = vehicles.sort_values(by='RD_NO')